Repository smartcontractkit/chainlink, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/foundations, @smartcontractkit/bix-framework, @smartcontractkit/keepers, @smartcontractkit/op-core, @eutopian, @yevshev, @smartcontractkit/realtime, @smartcontractkit/keystone, @smartcontractkit/ccip-offchain, @smartcontractkit/ccip, @samsondav, @smartcontractkit/data-streams-engineers, @smartcontractkit/vrf-team, @smartcontractkit/functions, @RensR, @matYang, @RayXpub, @elatoskinas, @smartcontractkit/bix-ship, @smartcontractkit/bix-build, @smartcontractkit/data-feeds-engineers, @smartcontractkit/test-tooling-team, @smartcontractkit/releng, @smartcontractkit/prodsec-public, @smartcontractkit/devrel

.github/CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

# Root
* @smartcontractkit/foundations

# Chains
/common @smartcontractkit/bix-framework
/core/chains/ @smartcontractkit/bix-framework

# Services
/core/services/directrequest @smartcontractkit/keepers
/core/services/feeds @smartcontractkit/op-core @eutopian @yevshev
/core/services/synchronization/telem @smartcontractkit/realtime
/core/capabilities/ @smartcontractkit/keystone
/core/capabilities/ccip @smartcontractkit/ccip-offchain

# To be deprecated in Chainlink V3
/core/services/fluxmonitorv2 @smartcontractkit/foundations
/core/services/job @smartcontractkit/ccip
/core/services/keystore @smartcontractkit/keepers
/core/services/ocr* @smartcontractkit/foundations
/core/services/periodicbackup @smartcontractkit/foundations
/core/services/pg @smartcontractkit/foundations @samsondav
/core/services/pipeline @smartcontractkit/foundations @smartcontractkit/bix-framework
/core/services/telemetry @smartcontractkit/realtime
/core/services/relay/evm/mercury @smartcontractkit/data-streams-engineers
/core/services/webhook @smartcontractkit/foundations @smartcontractkit/bix-framework
/core/services/llo @smartcontractkit/data-streams-engineers

# VRF-related services
/core/services/vrf @smartcontractkit/vrf-team
/core/services/blockhashstore @smartcontractkit/vrf-team
/core/services/blockheaderfeeder @smartcontractkit/vrf-team
/core/services/pipeline/task.vrf.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2plus.go @smartcontractkit/vrf-team

# Keeper/Automation-related services
/core/services/keeper @smartcontractkit/keepers
/core/services/ocr2/plugins/ocr2keeper @smartcontractkit/keepers

# Chainlink Functions
core/services/functions @smartcontractkit/functions
core/services/ocr2/plugins/functions @smartcontractkit/functions
core/services/s4 @smartcontractkit/functions
core/service/ocr2/plugins/s4 @smartcontractkit/functions
core/services/ocr2/plugins/threshold @smartcontractkit/functions
core/services/relay/evm/functions @smartcontractkit/functions
core/services/relay/evm/functions @smartcontractkit/functions
core/scripts/functions @smartcontractkit/functions
core/scripts/gateway @smartcontractkit/functions

# Keystone
/core/services/registrysyncer @smartcontractkit/keystone
/core/services/workflows @smartcontractkit/keystone
/core/services/standardcapabilities @smartcontractkit/keystone
/core/scripts/keystone @smartcontractkit/keystone

# Contracts
/contracts/ @RensR @matYang @RayXpub @elatoskinas

# First we match on project names to catch files like the compilation scripts,
# gas snapshots and other files not places in the project directories.
# This could give some false positives, so afterwards we match on the project directories
# to ensure the entire directory is always owned by the correct team.

/contracts/**/*keeper* @smartcontractkit/keepers
/contracts/**/*upkeep* @smartcontractkit/keepers
/contracts/**/*automation* @smartcontractkit/keepers
/contracts/**/*functions* @smartcontractkit/functions
/contracts/**/*llo-feeds* @smartcontractkit/data-streams-engineers
/contracts/**/*vrf* @smartcontractkit/vrf-team
/contracts/**/*l2ep* @smartcontractkit/bix-ship
/contracts/**/*keystone* @smartcontractkit/keystone

/contracts/src/v0.8/automation @smartcontractkit/keepers
/contracts/src/v0.8/functions @smartcontractkit/functions
# TODO: interfaces folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/l2ep @smartcontractkit/bix-build
/contracts/src/v0.8/llo-feeds @smartcontractkit/data-streams-engineers
# TODO: mocks folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/operatorforwarder @smartcontractkit/data-feeds-engineers
/contracts/src/v0.8/shared @RensR @matYang @RayXpub @elatoskinas
# TODO: tests folder, folder should be removed and files moved to the correct folders
# TODO: transmission folder, owner should be found
/contracts/src/v0.8/vrf @smartcontractkit/vrf-team



# At the end, match any files missed by the patterns above
/contracts/scripts/native_solc_compile_all_events_mock @smartcontractkit/functions
# Remove changeset files from the codeowners
/contracts/.changeset


# Tests
/integration-tests/ @smartcontractkit/test-tooling-team
/integration-tests/ccip-tests @smartcontractkit/ccip-offchain
/integration-tests/**/*keeper* @smartcontractkit/keepers
/integration-tests/**/*automation* @smartcontractkit/keepers

# Deployment tooling
# Initially the common structures owned by CCIP
/integration-tests/deployment @smartcontractkit/ccip
/integration-tests/deployment/ccip @smartcontractkit/ccip
# TODO: As more products add their deployment logic here, add the team as an owner

# CI/CD
/.github/** @smartcontractkit/releng @smartcontractkit/test-tooling-team
/.github/workflows/performance-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/automation-ondemand-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-benchmark-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-load-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-nightly-tests.yml @smartcontractkit/keepers

/core/chainlink.Dockerfile @smartcontractkit/prodsec-public

# Dependencies
contracts/scripts/requirements.txt @smartcontractkit/prodsec-public
.tool-versions @smartcontractkit/prodsec-public
.nvmrc @smartcontractkit/prodsec-public
contracts/package.json @smartcontractkit/prodsec-public
contracts/pnpm.lock @smartcontractkit/prodsec-public
go.mod @smartcontractkit/prodsec-public @smartcontractkit/releng @smartcontractkit/foundations
go.sum @smartcontractkit/prodsec-public @smartcontractkit/releng @smartcontractkit/foundations
integration-tests/go.mod @smartcontractkit/prodsec-public @smartcontractkit/test-tooling-team @smartcontractkit/foundations
integration-tests/go.sum @smartcontractkit/prodsec-public @smartcontractkit/test-tooling-team @smartcontractkit/foundations
flake.nix @smartcontractkit/prodsec-public
flake.lock @smartcontractkit/prodsec-public

# Config
./docs/CONFIG.md @smartcontractkit/foundations @smartcontractkit/devrel
./internal/config/docs.toml @smartcontractkit/foundations @smartcontractkit/devrel

ccip commit bump
  go.mod
  go.sum
Owners: @smartcontractkit/prodsec-public, @smartcontractkit/releng, @smartcontractkit/foundations

WS URL can be optional when LogBroadcaster is disabled (#14364)
  .changeset/silly-lies-boil.md
  common/client/node.go
  common/client/node_test.go
  core/chains/evm/client/config_builder.go
  core/chains/evm/client/config_builder_test.go
  core/chains/evm/client/evm_client.go
  core/chains/evm/client/helpers_test.go
  core/chains/evm/client/rpc_client.go
  core/chains/evm/client/rpc_client_test.go
  core/chains/evm/config/toml/config.go
  core/config/docs/chains-evm.toml
  core/services/chainlink/config_test.go
  docs/CONFIG.md
Owners: @smartcontractkit/foundations, @smartcontractkit/bix-framework

changeset
  .changeset/eighty-bulldogs-smile.md
Owners: @smartcontractkit/foundations

go mod tidy
  core/scripts/go.mod
  core/scripts/go.sum
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/load/go.mod
  integration-tests/load/go.sum
Owners: @smartcontractkit/prodsec-public, @smartcontractkit/releng, @smartcontractkit/foundations, @smartcontractkit/test-tooling-team

close resources with wrapped oracle
  core/capabilities/ccip/delegate.go
  core/capabilities/ccip/oraclecreator/plugin.go
  core/capabilities/ccip/oraclecreator/wrapped_oracle.go
Owners: @smartcontractkit/ccip-offchain
