Repository smartcontractkit/chainlink, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/foundations, @smartcontractkit/core, @smartcontractkit/releng, @smartcontractkit/bix-framework, @smartcontractkit/deployment-automation, @eutopian, @yevshev, @smartcontractkit/realtime, @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/ccip-offchain, @samsondav, @smartcontractkit/data-streams-engineers, @smartcontractkit/dev-services, @RensR, @matYang, @RayXpub, @elatoskinas, @jhweintraub, @0xsuryansh, @RyanRHall, @smartcontractkit/bix-ship, @smartcontractkit/data-feeds-engineers, @smartcontractkit/bix-build, @smartcontractkit/test-tooling-team, @smartcontractkit/ccip, @smartcontractkit/devrel

.github/CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

# Root
* @smartcontractkit/foundations @smartcontractkit/core

.changeset @smartcontractkit/releng @smartcontractkit/foundations @smartcontractkit/core

# Chains
/common @smartcontractkit/bix-framework @smartcontractkit/core
/core/chains/ @smartcontractkit/bix-framework @smartcontractkit/core

# Services
/core/services/directrequest @smartcontractkit/foundations @smartcontractkit/core
/core/services/feeds @smartcontractkit/deployment-automation @eutopian @yevshev @smartcontractkit/core
/core/services/synchronization/telem @smartcontractkit/realtime @smartcontractkit/core
/core/capabilities/ @smartcontractkit/keystone @smartcontractkit/capabilities-team @smartcontractkit/core
/core/capabilities/ccip @smartcontractkit/ccip-offchain @smartcontractkit/core

# To be deprecated in Chainlink V3
/core/services/fluxmonitorv2 @smartcontractkit/foundations @smartcontractkit/core
/core/services/job @smartcontractkit/foundations @smartcontractkit/core
/core/services/keystore @smartcontractkit/foundations @smartcontractkit/core
/core/services/ocr* @smartcontractkit/foundations @smartcontractkit/core
/core/services/periodicbackup @smartcontractkit/foundations @smartcontractkit/core
/core/services/pg @smartcontractkit/foundations @samsondav @smartcontractkit/core
/core/services/pipeline @smartcontractkit/foundations @smartcontractkit/bix-framework @smartcontractkit/core
/core/services/telemetry @smartcontractkit/realtime @smartcontractkit/core
/core/services/relay/evm/mercury @smartcontractkit/data-streams-engineers @smartcontractkit/core
/core/services/webhook @smartcontractkit/foundations @smartcontractkit/bix-framework @smartcontractkit/core
/core/services/llo @smartcontractkit/data-streams-engineers @smartcontractkit/core

# VRF-related services
/core/services/vrf @smartcontractkit/dev-services @smartcontractkit/core 
/core/services/blockhashstore @smartcontractkit/dev-services @smartcontractkit/core
/core/services/blockheaderfeeder @smartcontractkit/dev-services @smartcontractkit/core
/core/services/pipeline/task.vrf.go @smartcontractkit/dev-services @smartcontractkit/core
/core/services/pipeline/task.vrfv2.go @smartcontractkit/dev-services @smartcontractkit/core
/core/services/pipeline/task.vrfv2plus.go @smartcontractkit/dev-services @smartcontractkit/core

# Keeper/Automation-related services
/core/services/keeper @smartcontractkit/dev-services @smartcontractkit/core
/core/services/ocr2/plugins/ocr2keeper @smartcontractkit/dev-services @smartcontractkit/core

# Chainlink Functions
core/services/functions @smartcontractkit/dev-services @smartcontractkit/core
core/services/ocr2/plugins/functions @smartcontractkit/dev-services @smartcontractkit/core
core/services/s4 @smartcontractkit/dev-services @smartcontractkit/core
core/service/ocr2/plugins/s4 @smartcontractkit/dev-services @smartcontractkit/core
core/services/ocr2/plugins/threshold @smartcontractkit/dev-services @smartcontractkit/core
core/services/relay/evm/functions @smartcontractkit/dev-services @smartcontractkit/core
core/services/relay/evm/functions @smartcontractkit/dev-services @smartcontractkit/core
core/scripts/functions @smartcontractkit/dev-services @smartcontractkit/core
core/scripts/gateway @smartcontractkit/dev-services @smartcontractkit/core

# Keystone
/core/services/registrysyncer @smartcontractkit/keystone @smartcontractkit/core
/core/services/workflows @smartcontractkit/keystone @smartcontractkit/core
/core/services/standardcapabilities @smartcontractkit/keystone @smartcontractkit/core
/core/scripts/keystone @smartcontractkit/keystone @smartcontractkit/core

# Contracts catch all, for files not matched by the more specific patterns below
/contracts/ @RensR @matYang @RayXpub @elatoskinas

# First we match on project names to catch files like the compilation scripts and other files
# not placed in the project directories. This could give some false positives, so afterwards
# we match on the project directories to ensure the entire directory is always owned by the
# correct team.
/contracts/**/*keeper* @smartcontractkit/dev-services
/contracts/**/*upkeep* @smartcontractkit/dev-services
/contracts/**/*automation* @smartcontractkit/dev-services
/contracts/**/*ccip* @RensR @matYang @jhweintraub @0xsuryansh @RyanRHall
/contracts/**/*functions* @smartcontractkit/dev-services
/contracts/**/*l2ep* @smartcontractkit/bix-ship
/contracts/**/*llo-feeds* @smartcontractkit/data-streams-engineers
/contracts/**/*operatorforwarder* @smartcontractkit/data-feeds-engineers
/contracts/**/*vrf* @smartcontractkit/dev-services
/contracts/**/*keystone* @smartcontractkit/keystone

/contracts/src/v0.8/automation @smartcontractkit/dev-services
/contracts/src/v0.8/ccip @RensR @matYang @jhweintraub @0xsuryansh @RyanRHall
/contracts/src/v0.8/functions @smartcontractkit/dev-services
# TODO: interfaces folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/l2ep @smartcontractkit/bix-build
/contracts/src/v0.8/llo-feeds @smartcontractkit/data-streams-engineers
# TODO: mocks folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/operatorforwarder @smartcontractkit/data-feeds-engineers
/contracts/src/v0.8/shared @RensR @matYang @RayXpub @elatoskinas
# TODO: tests folder, folder should be removed and files moved to the correct folders
# TODO: transmission folder, owner should be found
/contracts/src/v0.8/vrf @smartcontractkit/dev-services
/contracts/src/v0.8/keystone @smartcontractkit/keystone

/core/gethwrappers/ccip @RensR @matYang @jhweintraub @0xsuryansh @RyanRHall
/core/gethwrappers/functions @smartcontractkit/dev-services
/core/gethwrappers/keystone @smartcontractkit/keystone
/core/gethwrappers/liquiditymanager @RensR @matYang @jhweintraub @0xsuryansh @RyanRHall
/core/gethwrappers/llo-feeds @smartcontractkit/data-streams-engineers
/core/gethwrappers/operatorforwarder @smartcontractkit/data-feeds-engineers
/core/gethwrappers/shared @RensR @matYang @RayXpub @elatoskinas

# The following don't exist yet but should. They are already included here to allow the teams to
# set these folders up and own them immediately.
/core/gethwrappers/keeper @smartcontractkit/dev-services
/core/gethwrappers/upkeep @smartcontractkit/dev-services
/core/gethwrappers/automation @smartcontractkit/dev-services
/core/gethwrappers/l2ep @smartcontractkit/bix-ship
/core/gethwrappers/vrf @smartcontractkit/dev-services

# Remove changeset files from the codeowners
/contracts/.changeset
# Gas snapshots are always checked by the CI so they don't need codeowners.
/contracts/gas-snapshots 

# At the end, match any files missed by the patterns above
/contracts/scripts/native_solc_compile_all_events_mock @smartcontractkit/dev-services

# GQL API
/core/web/resolver @smartcontractkit/deployment-automation @smartcontractkit/core
/core/web/schema @smartcontractkit/deployment-automation @smartcontractkit/core


# Tests
/integration-tests/ @smartcontractkit/test-tooling-team @smartcontractkit/core
/integration-tests/ccip-tests @smartcontractkit/ccip-offchain @smartcontractkit/core
/integration-tests/**/*keeper* @smartcontractkit/dev-services @smartcontractkit/core
/integration-tests/**/*automation* @smartcontractkit/dev-services @smartcontractkit/core

# Deployment tooling
# Initially the common structures owned by CCIP
/integration-tests/deployment @smartcontractkit/ccip @smartcontractkit/keystone @smartcontractkit/core
/integration-tests/deployment/ccip @smartcontractkit/ccip @smartcontractkit/core
/integration-tests/deployment/keystone @smartcontractkit/keystone @smartcontractkit/core
# TODO: As more products add their deployment logic here, add the team as an owner

# CI/CD
/.github/** @smartcontractkit/releng @smartcontractkit/test-tooling-team
/.github/CODEOWNERS @smartcontractkit/core @smartcontractkit/foundations
/.github/workflows/performance-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/automation-ondemand-tests.yml @smartcontractkit/dev-services
/.github/workflows/automation-benchmark-tests.yml @smartcontractkit/dev-services
/.github/workflows/automation-load-tests.yml @smartcontractkit/dev-services
/.github/workflows/automation-nightly-tests.yml @smartcontractkit/dev-services

/core/chainlink.Dockerfile @smartcontractkit/releng @smartcontractkit/foundations @smartcontractkit/core

# Dependencies
contracts/scripts/requirements.txt @smartcontractkit/core
.tool-versions @smartcontractkit/core
.nvmrc @smartcontractkit/core
contracts/package.json @smartcontractkit/core
contracts/pnpm.lock @smartcontractkit/core
go.mod @smartcontractkit/core @smartcontractkit/releng @smartcontractkit/foundations
go.sum @smartcontractkit/core @smartcontractkit/releng @smartcontractkit/foundations
integration-tests/go.mod @smartcontractkit/core @smartcontractkit/test-tooling-team @smartcontractkit/foundations
integration-tests/go.sum @smartcontractkit/core @smartcontractkit/test-tooling-team @smartcontractkit/foundations
flake.nix @smartcontractkit/core
flake.lock @smartcontractkit/core

# Config
./docs/CONFIG.md @smartcontractkit/core @smartcontractkit/devrel
./internal/config/docs.toml @smartcontractkit/core @smartcontractkit/devrel

Solana: re-enable disabled test with updated version (#14892)
  core/cmd/solana_transaction_commands_test.go
  tools/ci/install_solana
Owners: @smartcontractkit/foundations, @smartcontractkit/core

Use new address type.
  core/capabilities/ccip/ccipevm/commitcodec.go
  core/capabilities/ccip/ccipevm/commitcodec_test.go
  core/capabilities/ccip/ccipevm/executecodec.go
  core/capabilities/ccip/ccipevm/executecodec_test.go
  core/capabilities/ccip/ccipevm/rmncrypto.go
  core/capabilities/ccip/ccipevm/rmncrypto_test.go
  core/scripts/go.mod
  core/scripts/go.sum
  go.mod
  go.sum
  integration-tests/deployment/ccip/add_chain_test.go
  integration-tests/deployment/ccip/changeset/initial_deploy_test.go
  integration-tests/deployment/ccip/deploy_home_chain.go
  integration-tests/deployment/ccip/test_helpers.go
  integration-tests/deployment/ccip/token_info.go
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/load/go.mod
  integration-tests/load/go.sum
  integration-tests/smoke/ccip_test.go
Owners: @smartcontractkit/ccip-offchain, @smartcontractkit/core, @smartcontractkit/releng, @smartcontractkit/foundations, @smartcontractkit/ccip, @smartcontractkit/test-tooling-team

updates
  integration-tests/deployment/ccip/add_chain.go
  integration-tests/deployment/ccip/add_chain_test.go
  integration-tests/deployment/ccip/add_lane.go
  integration-tests/deployment/ccip/deploy_home_chain.go
Owners: @smartcontractkit/ccip, @smartcontractkit/core

WIP Add ConfirmTokenPriceUpdated
  integration-tests/deployment/ccip/test_assertions.go
Owners: @smartcontractkit/ccip, @smartcontractkit/core

Use main branch
  core/scripts/go.mod
  core/scripts/go.sum
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/load/go.mod
  integration-tests/load/go.sum
Owners: @smartcontractkit/core, @smartcontractkit/releng, @smartcontractkit/foundations, @smartcontractkit/test-tooling-team

make gomodtidy
  core/scripts/go.sum
  integration-tests/load/go.sum
Owners: @smartcontractkit/core, @smartcontractkit/releng, @smartcontractkit/foundations

rename, need to fix test
  core/chains/evm/gas/rollups/l1_oracle.go
  core/chains/evm/gas/rollups/l1_oracle_test.go
  core/chains/evm/gas/rollups/op_l1_oracle_test.go
  core/config/docs/chains-evm.toml
Owners: @smartcontractkit/bix-framework, @smartcontractkit/core, @smartcontractkit/foundations

make gomodtidy
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/core, @smartcontractkit/releng, @smartcontractkit/foundations, @smartcontractkit/test-tooling-team

CCIP-3730 Misc ccip onchain changes (#14845)
  .github/workflows/solidity-foundry.yml
  .gitignore
  contracts/.changeset/nice-rocks-trade.md
  contracts/gas-snapshots/ccip.gas-snapshot
  contracts/src/v0.8/ccip/FeeQuoter.sol
  contracts/src/v0.8/ccip/offRamp/OffRamp.sol
  contracts/src/v0.8/ccip/onRamp/OnRamp.sol
  contracts/src/v0.8/ccip/pools/TokenPool.sol
  contracts/src/v0.8/ccip/test/feeQuoter/FeeQuoter.t.sol
  contracts/src/v0.8/ccip/test/helpers/MultiTokenPool.sol
  contracts/src/v0.8/ccip/test/offRamp/OffRamp.t.sol
  contracts/src/v0.8/ccip/test/onRamp/OnRamp.t.sol
  contracts/src/v0.8/ccip/test/onRamp/OnRampSetup.t.sol
  contracts/src/v0.8/ccip/test/pools/TokenPool.t.sol
  contracts/src/v0.8/ccip/test/router/Router.t.sol
  contracts/src/v0.8/liquiditymanager/ocr/OCR3Base.sol
  contracts/src/v0.8/shared/ocr2/OCR2Base.sol
  core/gethwrappers/ccip/deployment_test/deployment_test.go
  core/gethwrappers/ccip/generated/fee_quoter/fee_quoter.go
  core/gethwrappers/ccip/generated/offramp/offramp.go
  core/gethwrappers/ccip/generated/onramp/onramp.go
  core/gethwrappers/ccip/generation/generated-wrapper-dependency-versions-do-not-edit.txt
  core/gethwrappers/ccip/mocks/fee_quoter_interface.go
  integration-tests/deployment/ccip/view/v1_6/onramp.go
Owners: @smartcontractkit/releng, @smartcontractkit/test-tooling-team, @smartcontractkit/foundations, @smartcontractkit/core, @RensR, @matYang, @jhweintraub, @0xsuryansh, @RyanRHall, @RayXpub, @elatoskinas, @smartcontractkit/ccip

WIP Add ConfirmGasPriceUpdatedForAll
  integration-tests/deployment/ccip/test_assertions.go
Owners: @smartcontractkit/ccip, @smartcontractkit/core
