Repository smartcontractkit/chainlink, pull requests merged in 2020-04, with the labels that each got.

#2620 Use jsonb instead of text for json columns
  core/services/run_manager_test.go
  core/store/migrations/migrate.go
  core/store/migrations/migration1585908150/migrate.go
  core/store/models/common.go
  core/store/store_test.go
Labels: blocked, expensive-migration, v0.8.3

#2764 Convert LogBroadcaster to use LogConsumption records
  core/eth/types.go
  core/internal/cltest/factories.go
  core/internal/mocks/log_broadcast.go
  core/internal/mocks/log_listener.go
  core/services/eth/log_broadcaster.go
  core/services/eth/log_broadcaster_test.go
  core/services/fluxmonitor/flux_monitor.go
  core/services/fluxmonitor/flux_monitor_test.go
  core/services/validators.go
  core/services/validators_test.go
  core/store/migrations/migrate.go
  core/store/migrations/migration1587580235/migrate.go
  core/store/models/log_consumption.go
  core/store/orm/orm.go
Labels: ready for review

#2796 Reset idleTicker based on log timestamp
  core/internal/features_test.go
  core/internal/mocks/after_nower.go
  core/services/eth/contracts/FluxAggregator.go
  core/services/fluxmonitor/flux_monitor.go
  core/services/fluxmonitor/flux_monitor_internal_test.go
  core/services/fluxmonitor/flux_monitor_test.go
  core/services/fluxmonitor/helpers_test.go
  core/utils/interfaces.go
  go.sum
  internal/mocks/after_nower.go
Labels: ready for review

#2682 Add created_at/updated_at to tables where appropriate
  core/store/migrations/migrate.go
  core/store/migrations/migrate_test.go
  core/store/migrations/migration1586956053/migrate.go
  core/store/models/bridge_type.go
  core/store/models/eth.go
  core/store/models/job_run.go
  core/store/models/job_spec.go
  core/store/models/key.go
  core/store/models/service_agreement.go
  core/store/models/user.go
  core/store/models/vrfkey/serialization.go
  core/store/orm/orm.go
  core/store/orm/orm_test.go
Labels: expensive-migration, v0.8.4
