Repository smartcontractkit/chainlink, pull requests merged in 2023-11, with the labels that each got.

#11089 Add base goerli benchmark option
  .github/workflows/automation-benchmark-tests.yml
  integration-tests/benchmark/keeper_test.go
  integration-tests/contracts/contract_deployer.go
Labels: build-test-image

#11149 add sepolia-arbitrum to automation benchmark test
  .github/workflows/automation-benchmark-tests.yml
  integration-tests/benchmark/keeper_test.go
  integration-tests/contracts/contract_deployer.go
Labels: build-test-image

#11151 Remove duplicate table
  integration-tests/config/config.go
Labels: build-test-image

#10793 Adds WeMix chain config
  .github/workflows/on-demand-ocr-soak-test.yml
  core/chains/evm/config/toml/defaults/WeMix_Mainnet.toml
  core/chains/evm/config/toml/defaults/WeMix_Testnet.toml
  core/chains/evm/gas/block_history_estimator_test.go
  core/chains/evm/gas/chain_specific.go
  core/config/chaintype.go
  core/config/docs/chains-evm.toml
  core/services/chainlink/config_test.go
  core/services/ocr/contract_tracker.go
  docs/CONFIG.md
  integration-tests/contracts/contract_deployer.go
  integration-tests/contracts/contract_loader.go
  integration-tests/go.mod
  integration-tests/go.sum
Labels: build-test-image

#11162 Add zkSync support
  core/chains/evm/client/errors.go
  core/chains/evm/client/errors_test.go
  core/chains/evm/config/toml/defaults/zkSync_Goerli.toml
  core/chains/evm/config/toml/defaults/zkSync_Mainnet.toml
  core/chains/evm/gas/block_history_estimator_test.go
  core/chains/evm/gas/chain_specific.go
  core/config/chaintype.go
  core/config/docs/chains-evm.toml
  core/scripts/common/helpers.go
  core/services/chainlink/config_test.go
  core/services/ocr/contract_tracker.go
  docs/CONFIG.md
Labels: build-test-image

#11214 Eth2 showcase with log poller
  integration-tests/docker/test_env/test_env.go
  integration-tests/docker/test_env/test_env_builder.go
  integration-tests/docker/test_env/test_env_config.go
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/smoke/automation_test.go
  integration-tests/smoke/log_poller_test.go
  integration-tests/universal/log_poller/helpers.go
Labels: do not merge

#11113 feature/tracing-data: Trace data as artifact in CI
  .github/tracing/README.md
  .github/tracing/local-smoke-docker-compose.yaml
  .github/tracing/otel-collector-ci.yaml
  .github/tracing/otel-collector-dev.yaml
  .github/tracing/replay.sh
  .github/workflows/integration-tests.yml
Labels: enable tracing
