Repository smartcontractkit/chainlink, pull requests merged in 2023-09, with the labels that each got.

#10432 [TT-418] automation e2e docker migration
  .github/workflows/integration-tests.yml
  integration-tests/actions/actions_local.go
  integration-tests/actions/automation_ocr_helpers_local.go
  integration-tests/docker/test_env/cl_node.go
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/scripts/buildTestMatrixList.sh
  integration-tests/scripts/compareTestList.sh
  integration-tests/smoke/automation_test.go
  integration-tests/smoke/automation_test.go_test_list.json
  integration-tests/smoke/keeper_test.go_test_list.json
Labels: build-test-image

#10265 bumg golangci-lint 1.54.2
  .github/workflows/ci-core.yml
  .tool-versions
  GNUmakefile
Labels: do-not-merge-yet

#10747 Devspace integration mercury
  .github/workflows/helm-publish.yml
  charts/chainlink-cluster/Chart.yaml
  charts/chainlink-cluster/README.md
  charts/chainlink-cluster/devspace.yaml
  charts/chainlink-cluster/templates/chainlink-deployment.yaml
  charts/chainlink-cluster/templates/geth-deployment.yaml
  charts/chainlink-cluster/templates/mockserver.yaml
  charts/chainlink-cluster/templates/runner-deployment.yaml
  charts/chainlink-cluster/values-raw-helm.yaml
Labels: helm_release
