Repository smartcontractkit/chainlink, pull requests merged in 2023-10, with the labels that each got.

#10899 Add Polygon on demand soak test
  .github/workflows/on-demand-ocr-soak-test.yml
Labels: build-test-image

#10905 fix hardcoded trigger config values
  integration-tests/contracts/contract_deployer.go
Labels: build-test-image

#10641 Linea soak
  .github/workflows/on-demand-ocr-soak-test.yml
  core/chains/evm/config/toml/defaults/Linea_Goerli.toml
  core/chains/evm/config/toml/defaults/Linea_Mainnet.toml
  docs/CONFIG.md
  integration-tests/contracts/contract_deployer.go
Labels: build-test-image

#11056 fix/tracing-matrix: updating matrix to only run tests w/ plugin image for the OCR2 smoke test
  .github/workflows/integration-tests.yml
Labels: enable tracing

#11064 update helm release gha to use GATI and config file
  .github/cr.yaml
  .github/workflows/helm-publish.yml
Labels: helm_release
