Repository smartcontractkit/chainlink, pull requests merged in 2023-12, with the labels that each got.

#11483 Create auto update workflow
  .github/workflows/auto-update.yml
Labels: auto-update

#11562 Fix address type and start the chain reader
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/relay/evm/chain_reader_test.go
  core/services/relay/evm/codec.go
  core/services/relay/evm/codec_entry.go
  core/services/relay/evm/codec_entry_test.go
  core/services/relay/evm/codec_test.go
  core/services/relay/evm/encoder.go
  core/services/relay/evm/evm.go
  core/services/relay/evm/testfiles/chain_reader_test_contract.sol
  core/services/relay/evm/testfiles/chain_reader_test_contract_gen.abi
  core/services/relay/evm/testfiles/chain_reader_test_contract_gen.bin
  core/services/relay/evm/testfiles/chain_reader_test_contract_gen.go
  core/services/relay/evm/types/abi_types.go
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
Labels: enable tracing

#11534 Add optional ingress support for helm chart
  .ct.yml
  .github/workflows/helm-chart-publish.yml
  .github/workflows/helm-chart.yml
  charts/chainlink-cluster/.gitignore
  charts/chainlink-cluster/Chart.yaml
  charts/chainlink-cluster/templates/ingress.yaml
  charts/chainlink-cluster/values.yaml
  lintconf.yaml
Labels: crib

#11638 [AUTO-8227] use multicall3 for loadgen
  integration-tests/contracts/contract_deployer.go
  integration-tests/contracts/multicall.go
  integration-tests/go.mod
  integration-tests/load/automationv2_1/automationv2_1_test.go
  integration-tests/load/automationv2_1/gun.go
Labels: build-test-image
