Repository smartcontractkit/chainlink, pull requests merged in 2025-06, with the labels that each got.

#17943 chore: bump run-e2e-tests sha
  .github/workflows/integration-in-memory-tests.yml
  .github/workflows/integration-tests.yml
Labels: run-e2e-tests

#17987 [DX-953] bump CRE timeouts
  core/scripts/go.mod
  core/scripts/go.sum
  system-tests/lib/cre/debug/debug.go
  system-tests/lib/cre/devenv/devenv.go
  system-tests/lib/go.mod
  system-tests/lib/go.sum
  system-tests/tests/go.mod
  system-tests/tests/go.sum
Labels: run-e2e-tests, run-local-cre-env-tests

#17978 chore: bump reusable-docker-build-publish workflow ref
  .github/workflows/build-publish.yml
  .github/workflows/docker-build.yml
Labels: build-publish

#18025 Bump version and update CHANGELOG for core v2.25.0
  .changeset/better-buckets-hang.md
  .changeset/chatty-toes-compare.md
  .changeset/chatty-toes-press.md
  .changeset/clean-comics-press.md
  .changeset/clean-humans-tie.md
  .changeset/clever-mayflies-share.md
  .changeset/evil-ears-attend.md
  .changeset/fine-llamas-show.md
  .changeset/gold-toys-matter.md
  .changeset/itchy-jokes-take.md
  .changeset/khaki-lights-occur.md
  .changeset/legal-phones-judge.md
  .changeset/little-garlics-exist.md
  .changeset/open-lizards-switch.md
  .changeset/popular-actors-carry.md
  .changeset/rare-waves-kneel.md
  .changeset/real-taxes-look.md
  .changeset/ripe-ideas-cry.md
  .changeset/shiny-candles-type.md
  .changeset/small-foxes-roll.md
  .changeset/smooth-weeks-act.md
  .changeset/tasty-pillows-drum.md
  .changeset/three-items-move.md
  .changeset/twenty-beers-open.md
  .changeset/two-comics-kick.md
  .changeset/violet-coins-play.md
  CHANGELOG.md
  package.json
Labels: draft

#18035 [CAPPL-920] try downloading CRE smoke test dependencies 5x
  .github/e2e-tests.yml
  system-tests/tests/smoke/cre/cmd/download_cre_ci_deps.sh
Labels: run-e2e-tests

#18038 [CAPPL-920] use latest CTF that users a lower port for JD
  core/scripts/go.mod
  core/scripts/go.sum
  system-tests/lib/go.mod
  system-tests/lib/go.sum
  system-tests/tests/go.mod
  system-tests/tests/go.sum
Labels: run-e2e-tests

#18061 [chore] Remove high cardinality execution tag
  core/services/workflows/engine.go
Labels: build-publish

#18069 fix: integration test conditionals
  .github/workflows/integration-tests.yml
Labels: run-e2e-tests

#18082 [CRE-471] fix don2don smoke test
  system-tests/lib/cre/debug/debug.go
  system-tests/lib/cre/devenv/devenv.go
  system-tests/lib/cre/don/config/config.go
  system-tests/lib/cre/don/don.go
  system-tests/lib/cre/don/secrets/secrets.go
  system-tests/lib/cre/environment/environment.go
  system-tests/lib/cre/types/keystone.go
  system-tests/tests/smoke/cre/environment-capabilities-don-ci.toml
  system-tests/tests/smoke/cre/environment-capabilities-don-crib.toml
  system-tests/tests/smoke/cre/environment-capabilities-don.toml
  system-tests/tests/smoke/cre/por_test.go
Labels: run-e2e-tests

#18066 expose lifecycle hooks in standalone engine
  .changeset/cyan-ads-divide.md
  core/services/workflows/cmd/cre/main.go
  core/services/workflows/cmd/cre/utils.go
Labels: run-e2e-tests

#18123 chore: cleanup integration-tests workflow
  .github/workflows/integration-tests.yml
Labels: run-e2e-tests

#18067 Fast transfer tooling
  .github/e2e-tests.yml
  deployment/ccip/changeset/testhelpers/test_token_helpers.go
  deployment/ccip/changeset/v1_5_1/commonconfig.go
  deployment/ccip/changeset/v1_5_1/cs_deploy_token_pools.go
  deployment/ccip/changeset/v1_5_1/cs_deploy_token_pools_test.go
  deployment/ccip/changeset/v1_5_1/cs_fast_transfer_token_pools.go
  deployment/ccip/changeset/v1_5_1/cs_fast_transfer_token_pools_test.go
  deployment/ccip/operation/evm/v1_5_1/ops_fast_transfer_token_pool.go
  deployment/ccip/sequence/evm/v1_5_1/seq_fast_transfer_token_pool.go
  deployment/ccip/shared/bindings/burn_mint_with_external_minter_fast_transfer_token_pool/burn_mint_with_external_minter_fast_transfer_token_pool.go
  deployment/ccip/shared/bindings/fast_transfer_token_pool_wrapper.go
  deployment/ccip/shared/stateview/evm/state.go
  deployment/ccip/shared/stateview/state.go
  deployment/ccip/shared/token_pools.go
  deployment/ccip/shared/types.go
  deployment/environment/devenv/fast-filler.go
  deployment/version.go
  integration-tests/smoke/ccip/ccip_fast_transfer_test.go
Labels: run-e2e-tests

#18182 CRE Workflow benchmark test - disable EVM LOOPP
  system-tests/tests/load/cre/workflow-don-benchmark-ci.toml
Labels: run-cre-workflow-don-benchmark

#18227 fix workflow feed duplicate validation
  deployment/data-feeds/changeset/jd_propose_wf_jobs_v2.go
Labels: do-not-merge

#18214 fix: on-demand instances for docker-build runners
  .github/workflows/docker-build.yml
Labels: build-publish

#17216 Update EVM to use new Generalized WT
  .mockery.yaml
  core/capabilities/targets/mocks/contract_value_getter.go
  core/capabilities/targets/write_target.go
  core/capabilities/targets/write_target_test.go
  core/config/docs/chains-evm.toml
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/chainlink/config_test.go
  core/services/chainlink/testdata/config-full.toml
  core/services/chainlink/testdata/config-multi-chain-effective.toml
  core/services/relay/evm/target_strategy.go
  core/services/relay/evm/write_target.go
  core/services/relay/evm/write_target_test.go
  core/web/resolver/testdata/config-full.toml
  core/web/resolver/testdata/config-multi-chain-effective.toml
  deployment/go.mod
  deployment/go.sum
  docs/CONFIG.md
  go.md
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/load/go.mod
  integration-tests/load/go.sum
  system-tests/lib/cre/don/config/definitions.go
  system-tests/lib/go.mod
  system-tests/lib/go.sum
  system-tests/tests/go.mod
  system-tests/tests/go.sum
  system-tests/tests/load/cre/workflow_don_load_test.go
  system-tests/tests/smoke/cre/por_test.go
  testdata/scripts/node/validate/defaults-override.txtar
  testdata/scripts/node/validate/disk-based-logging-disabled.txtar
  testdata/scripts/node/validate/disk-based-logging-no-dir.txtar
  testdata/scripts/node/validate/disk-based-logging.txtar
  testdata/scripts/node/validate/fallback-override.txtar
  testdata/scripts/node/validate/invalid.txtar
  testdata/scripts/node/validate/valid.txtar
Labels: build-publish, runs-on, run-e2e-tests

#18254 update jd to 0.12.7
  .github/workflows/cre-local-env-tests.yaml
  core/scripts/cre/environment/configs/single-don.toml
  core/scripts/cre/environment/configs/workflow-capabilities-don.toml
  core/scripts/cre/environment/environment/environment.go
  system-tests/tests/load/cre/workflow-don-benchmark-ci.toml
  system-tests/tests/load/cre/workflow-don-load-test-streams-crib.toml
  system-tests/tests/load/cre/workflow-don-load-test-streams-kind.toml
  system-tests/tests/load/cre/writer-don-load-test-crib.toml
  system-tests/tests/load/cre/writer-don-load-test-kind.toml
  system-tests/tests/smoke/cre/environment-capabilities-don-ci.toml
  system-tests/tests/smoke/cre/environment-capabilities-don-crib.toml
  system-tests/tests/smoke/cre/environment-capabilities-don.toml
  system-tests/tests/smoke/cre/environment-gateway-don-ci.toml
  system-tests/tests/smoke/cre/environment-gateway-don.toml
  system-tests/tests/smoke/cre/environment-one-don-multichain-ci.toml
  system-tests/tests/smoke/cre/environment-one-don-multichain.toml
  system-tests/tests/smoke/cre/environment-one-don-single-chain.toml
Labels: runs-on, run-e2e-tests

#18245 feat: integ-tests call new ctf-build-image directly
  .github/workflows/client-compatibility-tests.yml
  .github/workflows/integration-tests.yml
Labels: run-e2e-tests

#18277 chore: bump run-e2e-tests ref, pass GATI secrets
  .github/workflows/integration-in-memory-tests.yml
  .github/workflows/integration-tests.yml
Labels: run-e2e-tests

#18260 use ratelimiter, logger and round robin selector from chainlink-common
  .changeset/empty-adults-hang.md
  core/capabilities/compute/compute_test.go
  core/capabilities/integration_tests/por/fetchtrueusd_test.go
  core/capabilities/remote/dispatcher.go
  core/capabilities/webapi/outgoing_connector_handler.go
  core/capabilities/webapi/outgoing_connector_handler_test.go
  core/capabilities/webapi/round_robin_selector.go
  core/capabilities/webapi/round_robin_selector_test.go
  core/capabilities/webapi/target/target_test.go
  core/capabilities/webapi/trigger/trigger.go
  core/capabilities/webapi/types.go
  core/services/functions/connector_handler.go
  core/services/functions/connector_handler_test.go
  core/services/gateway/connectionmanager.go
  core/services/gateway/connectionmanager_test.go
  core/services/gateway/connector/connector_test.go
  core/services/gateway/delegate.go
  core/services/gateway/gateway.go
  core/services/gateway/gateway_test.go
  core/services/gateway/handler_factory.go
  core/services/gateway/handlers/capabilities/handler.go
  core/services/gateway/handlers/capabilities/handler_test.go
  core/services/gateway/handlers/common/ratelimiter.go
  core/services/gateway/handlers/common/ratelimiter_test.go
  core/services/gateway/handlers/functions/allowlist/allowlist.go
  core/services/gateway/handlers/functions/allowlist/allowlist_internal_test.go
  core/services/gateway/handlers/functions/allowlist/allowlist_test.go
  core/services/gateway/handlers/functions/allowlist/orm.go
  core/services/gateway/handlers/functions/allowlist/orm_test.go
  core/services/gateway/handlers/functions/handler.functions.go
  core/services/gateway/handlers/functions/handler.functions_test.go
  core/services/gateway/handlers/functions/subscriptions/orm.go
  core/services/gateway/handlers/functions/subscriptions/orm_test.go
  core/services/gateway/handlers/functions/subscriptions/subscriptions.go
  core/services/gateway/handlers/functions/subscriptions/subscriptions_test.go
  core/services/gateway/handlers/handler.dummy.go
  core/services/gateway/handlers/handler.dummy_test.go
  core/services/gateway/integration_tests/gateway_integration_test.go
  core/services/gateway/network/httpserver.go
  core/services/gateway/network/httpserver_test.go
  core/services/gateway/network/wsconnection_test.go
  core/services/gateway/network/wsserver.go
  core/services/gateway/network/wsserver_test.go
  core/services/ocr2/plugins/functions/config/config.go
  core/services/ocr2/plugins/functions/plugin.go
  core/services/ocr2/plugins/functions/plugin_test.go
  core/services/standardcapabilities/delegate.go
  core/services/workflows/engine_test.go
  core/services/workflows/syncer/fetcher.go
  core/services/workflows/syncer/fetcher_test.go
Labels: run-e2e-tests

#17892 gateway connector and handler JSONRPC communication
  .changeset/fluffy-eyes-carry.md
  core/capabilities/compute/compute_test.go
  core/capabilities/fakes/standard_capabilities_mocks.go
  core/capabilities/webapi/outgoing_connector_handler.go
  core/capabilities/webapi/outgoing_connector_handler_test.go
  core/capabilities/webapi/target/target_test.go
  core/capabilities/webapi/trigger/trigger.go
  core/capabilities/webapi/trigger/trigger_test.go
  core/scripts/gateway/connector/run_connector.go
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/functions/connector_handler.go
  core/services/functions/connector_handler_test.go
  core/services/gateway/connectionmanager.go
  core/services/gateway/connectionmanager_test.go
  core/services/gateway/connector/connector.go
  core/services/gateway/connector/connector_test.go
  core/services/gateway/connector/mocks/gateway_connector.go
  core/services/gateway/connector/mocks/gateway_connector_handler.go
  core/services/gateway/handlers/capabilities/handler.go
  core/services/gateway/handlers/capabilities/handler_test.go
  core/services/gateway/handlers/common/message_util.go
  core/services/gateway/handlers/common/message_util_test.go
  core/services/gateway/handlers/functions/handler.functions.go
  core/services/gateway/handlers/functions/handler.functions_test.go
  core/services/gateway/handlers/functions/subscriptions/subscriptions.go
  core/services/gateway/handlers/handler.dummy.go
  core/services/gateway/handlers/handler.dummy_test.go
  core/services/gateway/handlers/handler.go
  core/services/gateway/handlers/mocks/don.go
  core/services/gateway/handlers/mocks/handler.go
  core/services/gateway/integration_tests/gateway_integration_test.go
  core/services/ocr2/delegate.go
  core/services/ocr2/plugins/functions/plugin.go
  core/services/ocr2/plugins/vault/handler.go
  core/services/standardcapabilities/delegate.go
  core/services/standardcapabilities/standard_capabilities.go
  core/services/standardcapabilities/standard_capabilities_test.go
  core/services/workflows/cmd/cre/utils.go
  core/services/workflows/syncer/fetcher_test.go
  deployment/go.mod
  deployment/go.sum
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/load/go.mod
  integration-tests/load/go.sum
  plugins/cmd/capabilities/log-event-trigger/main.go
  system-tests/lib/go.mod
  system-tests/lib/go.sum
  system-tests/tests/go.mod
  system-tests/tests/go.sum
Labels: run-e2e-tests

#18353 [DX-1217] fix GH CLI issues in DX Tracker
  core/scripts/cre/environment/docs.md
  core/scripts/cre/environment/environment/environment.go
  core/scripts/cre/environment/tracking/dx.go
  core/scripts/go.mod
Labels: run-local-cre-env-tests

#18347 [DX-1207] update workflow SHA
  .github/workflows/integration-tests.yml
Labels: run-e2e-tests

#18358 feat(workflows/v2): adds fake secrets implementation to standalone engine
  .changeset/light-coats-lead.md
  core/services/workflows/cmd/cre/README.md
  core/services/workflows/cmd/cre/examples/compile_test.go
  core/services/workflows/cmd/cre/examples/v2/simple_cron_with_secrets/config.yaml
  core/services/workflows/cmd/cre/examples/v2/simple_cron_with_secrets/main.go
  core/services/workflows/cmd/cre/examples/v2/simple_cron_with_secrets/secrets.yaml
  core/services/workflows/cmd/cre/main.go
  core/services/workflows/cmd/cre/runner.go
  core/services/workflows/cmd/cre/runner_test.go
  core/services/workflows/cmd/cre/utils.go
  core/services/workflows/v2/disallowed_execution_helper.go
  core/services/workflows/v2/engine.go
  plugins/plugins.private.yaml
Labels: run-e2e-tests

#18384 Fix PR docker builds with private and testing plugins
  .github/workflows/docker-build.yml
Labels: build-publish

#18365 Add regular send at the end of each TC for fast transfer
  integration-tests/smoke/ccip/ccip_fast_transfer_test.go
Labels: run-e2e-tests
