Repository smartcontractkit/chainlink, pull requests merged in 2025-05, with the labels that each got.

#17435 llo: scaling improvements and safeguard channel definition version management
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/llo/channeldefinitions/onchain_channel_definition_cache.go
  core/services/llo/mercurytransmitter/orm.go
  core/services/llo/mercurytransmitter/queue.go
  core/services/llo/mercurytransmitter/queue_test.go
  core/services/llo/mercurytransmitter/transmitter.go
  core/services/llo/mercurytransmitter/transmitter_test.go
  core/services/llo/observation/data_source.go
  core/services/llo/observation/data_source_test.go
  deployment/go.mod
  deployment/go.sum
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/load/go.mod
  integration-tests/load/go.sum
  system-tests/lib/go.mod
  system-tests/lib/go.sum
  system-tests/tests/go.mod
  system-tests/tests/go.sum
Labels: build-test-image

#17196 donIDClaimer tooling
  deployment/ccip/changeset/state.go
  deployment/ccip/changeset/v1_6/cs_add_new_chain_e2e.go
  deployment/ccip/changeset/v1_6/cs_add_new_chain_e2e_test.go
  deployment/ccip/changeset/v1_6/cs_ccip_home.go
  deployment/ccip/changeset/v1_6/cs_home_chain_test.go
  deployment/migrated_changeset.go
  deployment/version.go
Labels: runs-on

#17665 [DX-752] wait for CRE CLI deploy command to finish
  system-tests/lib/crecli/commands.go
Labels: run-e2e-tests

#17319 update cre-cli to v0.2.0
  .github/e2e-tests.yml
  system-tests/lib/cre/types/keystone.go
  system-tests/lib/cre/workflow/workflow.go
  system-tests/lib/crecli/commands.go
  system-tests/lib/crecli/settings.go
  system-tests/tests/.gitignore
  system-tests/tests/smoke/cre/cmd/environment/environment.go
  system-tests/tests/smoke/cre/environment-capabilities-don-ci.toml
  system-tests/tests/smoke/cre/environment-capabilities-don-crib.toml
  system-tests/tests/smoke/cre/environment-capabilities-don.toml
  system-tests/tests/smoke/cre/environment-gateway-don-ci.toml
  system-tests/tests/smoke/cre/environment-gateway-don.toml
  system-tests/tests/smoke/cre/environment-one-don-multichain-ci.toml
  system-tests/tests/smoke/cre/environment-one-don-multichain.toml
  system-tests/tests/smoke/cre/environment-one-don-single-chain.toml
  system-tests/tests/smoke/cre/guidelines.md
  system-tests/tests/smoke/cre/por_test.go
Labels: runs-on, run-e2e-tests

#17693 [DX-780] modify the download CLI to allow downloading of multiple capability binaries
  .github/e2e-tests.yml
  system-tests/tests/smoke/cre/cmd/download/download.go
Labels: run-e2e-tests

#17717 [CR-403] Move cltest functions from txmgr tests into its own package
  core/chains/evm/txmgr/broadcaster_benchmark_test.go
  core/chains/evm/txmgr/broadcaster_test.go
  core/chains/evm/txmgr/confirmer_benchmark_test.go
  core/chains/evm/txmgr/confirmer_test.go
  core/chains/evm/txmgr/evm_tx_store_test.go
  core/chains/evm/txmgr/finalizer_benchmark_test.go
  core/chains/evm/txmgr/finalizer_test.go
  core/chains/evm/txmgr/reaper_test.go
  core/chains/evm/txmgr/resender_test.go
  core/chains/evm/txmgr/stuck_tx_detector_test.go
  core/chains/evm/txmgr/tracker_test.go
  core/chains/evm/txmgr/txmgr_test.go
  core/chains/evm/txmgr/txmgrtest/utils.go
  core/cmd/evm_transaction_commands_test.go
  core/cmd/shell_local_test.go
  core/internal/cltest/cltest.go
  core/internal/cltest/factories.go
  core/services/headreporter/prometheus_reporter_test.go
  core/services/keystore/eth_test.go
  core/web/evm_transactions_controller_test.go
  core/web/evm_tx_attempts_controller_test.go
Labels: allow-lint-issues

#17710 add pause, activate and update workflow in smoke test
  system-tests/lib/cre/types/keystone.go
  system-tests/lib/cre/workflow/workflow.go
  system-tests/lib/crecli/commands.go
  system-tests/tests/smoke/cre/guidelines.md
  system-tests/tests/smoke/cre/por_test.go
Labels: run-e2e-tests

#17761 [DX-811] log env setup stages with time it took, parallelise node funding
  system-tests/lib/cre/debug/debug.go
  system-tests/lib/cre/environment/environment.go
  system-tests/lib/funding/funding.go
  system-tests/lib/types/funding.go
  system-tests/tests/.gitignore
  system-tests/tests/smoke/cre/cmd/environment/environment.go
  system-tests/tests/smoke/cre/environment-capabilities-don-ci.toml
  system-tests/tests/smoke/cre/environment-gateway-don-ci.toml
Labels: run-e2e-tests

#17653 experimental observation cache seqNr aware
  core/services/llo/mercurytransmitter/transmitter.go
  core/services/llo/observation/cache.go
  core/services/llo/observation/cache_test.go
  core/services/llo/observation/data_source.go
  core/services/llo/observation/data_source_test.go
Labels: build-test-image

#17692 [DX-779] fix push core/ccip test triggers, check push trigger test results
  .github/e2e-tests.yml
  .github/workflows/integration-tests.yml
Labels: run-e2e-tests

#17885 [DX-641] stop using deprecated DeployOCR3 function
  system-tests/lib/cre/environment/environment.go
Labels: run-e2e-tests

#17883 [DX-872] allow to run local CRE env test in PRs if label is present
  .github/workflows/cre-local-env-tests.yaml
Labels: run-local-cre-env-tests

#17884 [DX-222] pass top-level context to all system-tests functions, use t.Context()
  core/scripts/cre/environment/environment/environment.go
  system-tests/lib/cre/debug/debug.go
  system-tests/lib/cre/devenv/devenv.go
  system-tests/lib/cre/don/don.go
  system-tests/lib/cre/don/jobs/jobs.go
  system-tests/lib/cre/environment/environment.go
  system-tests/lib/cre/workflow/workflow.go
  system-tests/lib/funding/funding.go
  system-tests/lib/net/download.go
  system-tests/tests/load/cre/workflow_don_load_test.go
  system-tests/tests/load/cre/writer_don_load_test.go
  system-tests/tests/smoke/cre/guidelines.md
  system-tests/tests/smoke/cre/por_test.go
Labels: run-e2e-tests

#17843 feat: self-hosted runners for PR built images
  .github/workflows/docker-build.yml
  README.md
Labels: build-publish

#17865 simplify capabilities imports
  core/capabilities/ccip/delegate.go
  core/monitoring/utils.go
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/registrysyncer/local_registry.go
  core/services/registrysyncer/monitoring.go
  core/services/registrysyncer/orm.go
  core/services/registrysyncer/orm_test.go
  core/services/registrysyncer/syncer.go
  core/services/registrysyncer/syncer_test.go
  deployment/go.mod
  deployment/go.sum
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/load/go.mod
  integration-tests/load/go.sum
  plugins/loop_registry_test.go
  system-tests/lib/go.mod
  system-tests/lib/go.sum
  system-tests/tests/go.mod
  system-tests/tests/go.sum
Labels: allow-lint-issues
