Repository smartcontractkit/chainlink, pull requests merged in 2025-09, with the labels that each got.

#19152 DF-21815 Use seqNr as timestamp in secure mint report
  .changeset/pink-cities-judge.md
  core/capabilities/integration_tests/keystone/securemint_workflow_test.go
  core/scripts/go.mod
  core/scripts/go.sum
  deployment/go.mod
  deployment/go.sum
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/load/go.mod
  integration-tests/load/go.sum
  system-tests/lib/go.mod
  system-tests/lib/go.sum
  system-tests/tests/go.mod
  system-tests/tests/go.sum
Labels: build-publish

#19129 [CRE-771] increase test coverage vol 1
  .github/workflows/cre-local-env-tests.yaml
  core/scripts/cre/environment/configs/workflow-gateway-capabilities-don.toml
  core/scripts/cre/environment/environment/environment.go
  core/scripts/cre/environment/environment/examples.go
  core/scripts/cre/environment/environment/workflow.go
  core/scripts/cre/environment/examples/examples.go
  core/scripts/cre/environment/examples/pkg/deploy/consumer.go
  core/scripts/cre/environment/examples/workflows/v1/proof-of-reserve/web-trigger-based/types/types.go
  system-tests/lib/cre/types.go
Labels: run-local-cre-env-tests

#19225 Add contract versions to workflow benchmark
  system-tests/tests/load/cre/workflow_don_load_test.go
Labels: run-cre-workflow-don-benchmark

#19242 [CRE-791] background worker pond
  core/scripts/go.mod
  core/scripts/go.sum
  system-tests/lib/cre/contracts/contracts.go
  system-tests/lib/cre/contracts/workflowregistry.go
  system-tests/lib/cre/environment/environment.go
  system-tests/lib/format/text.go
  system-tests/lib/go.mod
  system-tests/lib/go.sum
  system-tests/tests/go.mod
  system-tests/tests/go.sum
Labels: run-cre-workflow-don-benchmark

#19231 fix(ci): allow m5 runners for integ tests
  .github/e2e-tests.yml
  .github/integration-in-memory-tests.yml
Labels: run-e2e-tests

#19237 dedup ocr configuration sequences
  core/scripts/cre/environment/environment/workflow.go
  deployment/cre/ocr3/v2/changeset/deploy_ocr3.go
  deployment/cre/ocr3/v2/changeset/deploy_ocr3_test.go
  deployment/cre/ocr3/v2/changeset/operations/contracts/configure_ocr3.go
  deployment/cre/ocr3/v2/changeset/operations/contracts/deploy_ocr3.go
  deployment/cre/ocr3/v2/changeset/operations/contracts/types.go
  deployment/cre/ocr3/v2/changeset/sequences/deploy_ocr3.go
  deployment/keystone/changeset/operations/contracts/configure_ocr3_op.go
  deployment/keystone/changeset/operations/contracts/deploy_ocr3_op.go
  deployment/keystone/changeset/operations/contracts/types.go
  system-tests/lib/cre/contracts/contracts.go
  system-tests/lib/cre/environment/environment.go
Labels: run-local-cre-env-tests, run-cre-workflow-don-test

#19230 [COP-1595, COP-1596] Local CRE environment state files consolidation
  .github/workflows/cre-local-env-tests.yaml
  .github/workflows/cre-system-tests.yaml
  core/scripts/cre/environment/.gitignore
  core/scripts/cre/environment/README.md
  core/scripts/cre/environment/environment/beholder.go
  core/scripts/cre/environment/environment/environment.go
  core/scripts/cre/environment/environment/examples.go
  core/scripts/cre/environment/environment/swap.go
  core/scripts/cre/environment/environment/workflow.go
  system-tests/lib/cre/environment/config/config.go
  system-tests/lib/cre/environment/env_artifact.go
  system-tests/lib/cre/environment/environment.go
  system-tests/lib/cre/environment/jsonutils.go
  system-tests/lib/cre/environment/state.go
  system-tests/lib/cre/types.go
  system-tests/tests/load/cre/workflow_don_load_test.go
  system-tests/tests/load/cre/writer_don_load_test.go
  system-tests/tests/smoke/cre/before_suite.go
  system-tests/tests/smoke/cre/beholder_helpers.go
  system-tests/tests/smoke/cre/helpers_test.go
  system-tests/tests/smoke/cre/v2_beholder_test.go
  system-tests/tests/smoke/cre/v2_consensus_capability_test.go
Labels: run-local-cre-env-tests, run-cre-workflow-don-benchmark

#19275 Bump chainlink-evm version for SVR
  .changeset/quiet-adults-deny.md
  core/scripts/go.mod
  core/scripts/go.sum
  deployment/go.mod
  deployment/go.sum
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/load/go.mod
  integration-tests/load/go.sum
  system-tests/lib/go.mod
  system-tests/lib/go.sum
  system-tests/tests/go.mod
  system-tests/tests/go.sum
Labels: do not merge

#19381 Enable DON Time on Local Env Configs by default
  core/scripts/cre/environment/configs/workflow-don.toml
  core/scripts/cre/environment/configs/workflow-gateway-capabilities-don.toml
  core/scripts/cre/environment/configs/workflow-gateway-don.toml
  system-tests/tests/smoke/cre/cre_suite_test.go
Labels: run-local-cre-env-tests, run-cre-workflow-don-test

#19556 [CRE-912] Add evm.EstimateGas negative system-tests
  .github/workflows/cre-system-tests.yaml
  system-tests/tests/regression/cre/evm/evmread-negative/main.go
  system-tests/tests/regression/cre/v2_cron_beholder_regression_test.go
  system-tests/tests/regression/cre/v2_evm_capability_regression_test.go
  system-tests/tests/test-helpers/t_helpers.go
Labels: run-e2e-regression
