Repository smartcontractkit/chainlink, pull requests merged in 2025-07, with the labels that each got.

#18242 Add withdraw tests
  deployment/ccip/changeset/v1_5_1/cs_fast_transfer_token_pools.go
  deployment/ccip/operation/evm/v1_5_1/ops_fast_transfer_token_pool.go
  deployment/ccip/sequence/evm/v1_5_1/seq_fast_transfer_token_pool.go
  deployment/ccip/shared/bindings/fast_transfer_token_pool_wrapper.go
  integration-tests/smoke/ccip/ccip_fast_transfer_test.go
Labels: run-e2e-tests

#18527 Update ftf bindings
  .github/e2e-tests.yml
  core/scripts/go.mod
  core/scripts/go.sum
  deployment/ccip/changeset/v1_5_1/cs_deploy_token_pools.go
  deployment/ccip/operation/evm/v1_5_1/ops_hybrid_token_pool.go
  deployment/ccip/shared/bindings/burn_mint_with_external_minter_fast_transfer_token_pool/burn_mint_with_external_minter_fast_transfer_token_pool.go
  deployment/ccip/shared/bindings/burn_mint_with_external_minter_fast_transfer_token_pool/burn_mint_with_external_minter_fast_transfer_token_pool_metadata.go
  deployment/ccip/shared/bindings/hybrid_with_external_minter_fast_transfer_token_pool/hybrid_with_external_minter_fast_transfer_token_pool.go
  deployment/ccip/shared/bindings/hybrid_with_external_minter_fast_transfer_token_pool/hybrid_with_external_minter_fast_transfer_token_pool_metadata.go
  deployment/environment/devenv/fast-filler.go
  deployment/go.mod
  deployment/go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/load/go.mod
  integration-tests/load/go.sum
  integration-tests/smoke/ccip/ccip_fast_transfer_test.go
  system-tests/lib/go.mod
  system-tests/lib/go.sum
  system-tests/tests/go.mod
  system-tests/tests/go.sum
Labels: run-e2e-tests

#18110 Oracle Factory fixes and modifications required to get it working
  core/services/job/models.go
  core/services/job/models_test.go
  core/services/ocr2/plugins/generic/oraclefactory.go
  core/services/ocr2/plugins/generic/relayerset.go
  core/services/relay/evm/evm.go
  core/services/standardcapabilities/delegate.go
  core/services/standardcapabilities/delegate_test.go
  core/services/standardcapabilities/standard_capabilities_test.go
Labels: build-publish

#18602 Explicit error handling in LocalRegistry to check for empty registry
  core/services/registrysyncer/local_registry.go
  core/services/registrysyncer/syncer_test.go
  core/services/workflows/v2/secrets_test.go
Labels: run-cre-workflow-don-benchmark

#18668 Fix workflow load test
  system-tests/lib/cre/environment/create_jd_jobs_op.go
  system-tests/tests/load/cre/workflow_don_load_test.go
Labels: run-cre-workflow-don-benchmark

#18691 Bump Chainlink-Common with latest schemas
  core/capabilities/fakes/consensus_nodag.go
  core/capabilities/fakes/evm_chain.go
  core/capabilities/remote/executable/server_test.go
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/workflows/v2/engine_test.go
  deployment/go.mod
  deployment/go.sum
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/load/go.mod
  integration-tests/load/go.sum
  system-tests/lib/go.mod
  system-tests/lib/go.sum
  system-tests/tests/go.mod
  system-tests/tests/go.sum
Labels: run-e2e-tests

#18713 bump chainlink-data-streams
  core/scripts/go.mod
  core/scripts/go.sum
  deployment/go.mod
  deployment/go.sum
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/load/go.mod
  integration-tests/load/go.sum
  plugins/plugins.public.yaml
  system-tests/lib/go.mod
  system-tests/lib/go.sum
  system-tests/tests/go.mod
  system-tests/tests/go.sum
Labels: build-publish

#18623 wire through workflow registry info to Billing Client
  core/scripts/cre/environment/examples/workflows/v2/cron/go.mod
  core/scripts/cre/environment/examples/workflows/v2/cron/go.sum
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/chainlink/application.go
  core/services/workflows/delegate.go
  core/services/workflows/engine.go
  core/services/workflows/engine_test.go
  core/services/workflows/metering/metering.go
  core/services/workflows/metering/metering_test.go
  core/services/workflows/models.go
  core/services/workflows/monitoring/monitoring_test.go
  core/services/workflows/syncer/handler.go
  core/services/workflows/syncer/workflow_registry.go
  core/services/workflows/v2/config.go
  core/services/workflows/v2/config_test.go
  core/services/workflows/v2/engine.go
  deployment/go.mod
  deployment/go.sum
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/load/go.mod
  integration-tests/load/go.sum
  system-tests/lib/go.mod
  system-tests/lib/go.sum
  system-tests/tests/go.mod
  system-tests/tests/go.sum
Labels: build-publish
