Repository smartcontractkit/chainlink, changes with the owners that CODEOWNERS names for each.
All owners: @smartcontractkit/foundations, @smartcontractkit/integrations, @smartcontractkit/keepers, @smartcontractkit/FMS, @smartcontractkit/ccip, @samsondav, @smartcontractkit/realtime, @smartcontractkit/mercury-team, @smartcontractkit/vrf-team, @smartcontractkit/functions, @RensR, @smartcontrackit/mercury-team, @archseer, @bolekk, @patrick-dowell, @chris-de-leon-cll, @smartcontractkit/test-tooling-team, @smartcontractkit/releng, @smartcontractkit/prodsec-public, @smartcontractkit/devrel

fix merge errors
  core/chains/evm/client/erroring_node.go
  core/chains/evm/client/errors.go
Owners: @smartcontractkit/integrations

rebase, fix conflicts, add hotvars as arguments
  contracts/src/v0.8/automation/dev/interfaces/v2_2/IAutomationRegistryMaster.sol
  contracts/src/v0.8/automation/dev/v2_2/AutomationRegistry2_2.sol
  contracts/src/v0.8/automation/dev/v2_2/AutomationRegistryBase2_2.sol
  contracts/src/v0.8/automation/dev/v2_2/AutomationRegistryLogicA2_2.sol
  contracts/src/v0.8/automation/dev/v2_2/AutomationRegistryLogicB2_2.sol
  contracts/test/v0.8/automation/AutomationRegistry2_2.test.ts
  core/gethwrappers/generated/automation_registry_logic_a_wrapper_2_2/automation_registry_logic_a_wrapper_2_2.go
  core/gethwrappers/generated/automation_registry_logic_b_wrapper_2_2/automation_registry_logic_b_wrapper_2_2.go
  core/gethwrappers/generated/automation_registry_wrapper_2_2/automation_registry_wrapper_2_2.go
  core/gethwrappers/generated/i_automation_registry_master_wrapper_2_2/i_automation_registry_master_wrapper_2_2.go
  core/gethwrappers/generation/generated-wrapper-dependency-versions-do-not-edit.txt
Owners: @smartcontractkit/keepers, @smartcontractkit/foundations

[KS-59] Add Start to capability service (#371)
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/capabilities/consensus/ocr3/factory.go
  pkg/capabilities/consensus/ocr3/ocr3.go
  pkg/capabilities/consensus/ocr3/ocr3_test.go
  pkg/loop/internal/capabilities_registry_test.go
  pkg/loop/plugin.go
  pkg/types/capabilities_registry.go
  pkg/types/mocks/capabilities_registry.go
Owners: none

Removing created_at index
  core/chains/evm/logpoller/orm.go
  core/chains/evm/logpoller/orm_test.go
  core/store/migrate/migrations/0223_log_poller_index_drop.sql
Owners: @smartcontractkit/integrations, @smartcontractkit/foundations

SonarQube fix Post rebase fix Added debug log
  core/chains/evm/logpoller/log_poller.go
  core/store/migrate/migrations/0226_log_poller_index_drop.sql
Owners: @smartcontractkit/integrations, @smartcontractkit/foundations

CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

# Core
/core @smartcontractkit/foundations

# Chains
/common @smartcontractkit/integrations
/core/chains/ @smartcontractkit/integrations

# Services
/core/services/directrequest @smartcontractkit/keepers
/core/services/feeds @smartcontractkit/FMS

# To be deprecated in Chainlink V3
/core/services/fluxmonitorv2 @smartcontractkit/foundations
/core/services/job @smartcontractkit/ccip
/core/services/keystore @smartcontractkit/keepers
/core/services/ocr* @smartcontractkit/foundations
/core/services/periodicbackup @smartcontractkit/foundations
/core/services/pg @smartcontractkit/foundations @samsondav
/core/services/pipeline @smartcontractkit/foundations @smartcontractkit/integrations
/core/services/telemetry @smartcontractkit/realtime
/core/services/relay/evm/mercury @smartcontractkit/mercury-team
/core/services/webhook @smartcontractkit/foundations @smartcontractkit/integrations
/core/services/llo @smartcontractkit/mercury-team

# VRF-related services
/core/services/vrf @smartcontractkit/vrf-team
/core/services/blockhashstore @smartcontractkit/vrf-team
/core/services/blockheaderfeeder @smartcontractkit/vrf-team
/core/services/pipeline/task.vrf.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2plus.go @smartcontractkit/vrf-team
/core/services/ocr2/plugins/dkg @smartcontractkit/vrf-team
/core/services/ocr2/plugins/ocr2vrf @smartcontractkit/vrf-team

# Keeper/Automation-related services
/core/services/keeper @smartcontractkit/keepers
/core/services/ocr2/plugins/ocr2keeper @smartcontractkit/keepers

# Chainlink Functions
core/services/functions @smartcontractkit/functions
core/services/ocr2/plugins/functions @smartcontractkit/functions
core/services/s4 @smartcontractkit/functions
core/service/ocr2/plugins/s4 @smartcontractkit/functions
core/services/ocr2/plugins/threshold @smartcontractkit/functions
core/services/relay/evm/functions @smartcontractkit/functions
core/services/relay/evm/functions @smartcontractkit/functions
core/scripts/functions @smartcontractkit/functions
core/scripts/gateway @smartcontractkit/functions

# Contracts
/contracts/ @RensR

# First we match on project names to catch files like the compilation scripts,
# gas snapshots and other files not places in the project directories.
# This could give some false positives, so afterwards we match on the project directories
# to ensure the entire directory is always owned by the correct team.

/contracts/**/*keeper* @smartcontractkit/keepers
/contracts/**/*upkeep* @smartcontractkit/keepers
/contracts/**/*automation* @smartcontractkit/keepers
/contracts/**/*functions* @smartcontractkit/functions
/contracts/**/*llo-feeds* @smartcontrackit/mercury-team
/contracts/**/*vrf* @smartcontractkit/vrf-team
/contracts/**/*l2ep* @smartcontractkit/integrations
# TODO: replace with a team tag when ready
/contracts/**/*keystone* @archseer @bolekk @patrick-dowell

/contracts/src/v0.8/automation @smartcontractkit/keepers
/contracts/src/v0.8/functions @smartcontractkit/functions
# TODO: interfaces folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/l2ep @chris-de-leon-cll
/contracts/src/v0.8/llo-feeds @smartcontractkit/mercury-team
# TODO: mocks folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/operatorforwarder @smartcontractkit/foundations
/contracts/src/v0.8/shared @RensR
# TODO: tests folder, folder should be removed and files moved to the correct folders
# TODO: transmission folder, owner should be found
/contracts/src/v0.8/vrf @smartcontractkit/vrf-team



# At the end, match any files missed by the patterns above
/contracts/scripts/native_solc_compile_all_events_mock @smartcontractkit/functions


# Tests
/integration-tests/ @smartcontractkit/test-tooling-team
/integration-tests/**/*keeper* @smartcontractkit/keepers
/integration-tests/**/*automation* @smartcontractkit/keepers

# CI/CD
/.github/** @smartcontractkit/releng @smartcontractkit/test-tooling-team
/.github/workflows/performance-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/automation-ondemand-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-benchmark-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-load-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-nightly-tests.yml @smartcontractkit/keepers

/core/chainlink.Dockerfile @smartcontractkit/prodsec-public

# Dependencies
contracts/scripts/requirements.txt @smartcontractkit/prodsec-public
.tool-versions @smartcontractkit/prodsec-public
.nvmrc @smartcontractkit/prodsec-public
contracts/package.json @smartcontractkit/prodsec-public
contracts/pnpm.lock @smartcontractkit/prodsec-public
go.mod @smartcontractkit/prodsec-public
go.sum @smartcontractkit/prodsec-public
integration-tests/go.mod @smartcontractkit/prodsec-public
integration-tests/go.sum @smartcontractkit/prodsec-public
flake.nix @smartcontractkit/prodsec-public
flake.lock @smartcontractkit/prodsec-public

# Config
./docs/CONFIG.md @smartcontractkit/foundations @smartcontractkit/devrel
./internal/config/docs.toml @smartcontractkit/foundations @smartcontractkit/devrel
