Repository smartcontractkit/chainlink, changes with the owners that CODEOWNERS names for each.
All owners: @samsondav, @jmank88, @smartcontractkit/integrations, @prashantkumar1982, @pinebit, @connorwstein, @reductionista, @archseer, @cfal, @jkongie, @PiotrTrzpil, @RyanRHall, @krehermann, @sdrug, @martin-cll, @smartcontractkit/vrf-team, @smartcontractkit/keepers, @smartcontractkit/functions, @bolekk, @KuphJr, @justinkaseman, @DeividasK, @RensR, @austinborn, @Fletch153, @simsonraj, @essamhassan, @smartcontractkit/test-tooling-team, @chainchad, @javuto, @smartcontractkit/prodsec-public, @dwightjl

CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

# Misc
/core/store @samsondav @jmank88
/core/chains @samsondav
/core/logger @jmank88
/core/internal @samsondav @jmank88

# Chains
/common @smartcontractkit/integrations
/core/chains/evm @samsondav @prashantkumar1982
/core/chains/evm/headtracker @pinebit @samsondav @prashantkumar1982
/core/chains/evm/client @samsondav @prashantkumar1982
/core/chains/evm/log @jmank88 @prashantkumar1982 @connorwstein
/core/chains/evm/logpoller @reductionista @connorwstein
/core/chains/cosmos @archseer @cfal

# Services
/core/services/cron @samsondav
/core/services/directrequest @connorwstein @samsondav
/core/services/feeds @jkongie
/core/services/fluxmonitorv2 @jkongie @PiotrTrzpil @connorwstein
/core/services/health @samsondav
/core/services/job @connorwstein
/core/services/keystore @RyanRHall
/core/services/ocr* @connorwstein @samsondav
/core/services/ocr2 @jmank88 @krehermann
/core/services/periodicbackup @PiotrTrzpil @samsondav
/core/services/pg @samsondav
/core/services/pipeline @connorwstein @prashantkumar1982
/core/services/synchronization
/core/services/telemetry
/core/services/relay/evm/mercury @samsondav @sdrug @martin-cll

# VRF-related services
/core/services/vrf @smartcontractkit/vrf-team
/core/services/blockhashstore @smartcontractkit/vrf-team
/core/services/blockheaderfeeder @smartcontractkit/vrf-team
/core/services/pipeline/task.vrf.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2plus.go @smartcontractkit/vrf-team
/core/services/ocr2/plugins/dkg @smartcontractkit/vrf-team
/core/services/ocr2/plugins/ocr2vrf @smartcontractkit/vrf-team

# Keeper/Automation-related services
/core/services/keeper @smartcontractkit/keepers
/core/services/ocr2/plugins/ocr2keeper @smartcontractkit/keepers

/core/services/webhook @samsondav

# Chainlink Functions
core/services/functions @smartcontractkit/functions
core/services/ocr2/plugins/functions @smartcontractkit/functions
core/services/s4 @pinebit @bolekk
core/service/ocr2/plugins/s4 @pinebit @bolekk
core/services/ocr2/plugins/threshold @KuphJr @bolekk
core/services/relay/evm/functions.go @bolekk @justinkaseman @KuphJr
core/services/relay/evm/functions @bolekk @justinkaseman @KuphJr
core/scripts/functions @smartcontractkit/functions
core/scripts/gateway @bolekk @pinebit

# API
/core/web @jkongie

# CLI
/core/cmd @jkongie @jmank88 @samsondav

# UI
/operator-ui/ @DeividasK @jkongie

# Contracts
/contracts/ @RensR

# First we match on project names to catch files like the compilation scripts,
# gas snapshots and other files not places in the project directories.
# This could give some false positives, so afterwards we match on the project directories
# to ensure the entire directory is always owned by the correct team.

/contracts/**/*shared* @RensR
/contracts/**/*keeper* @smartcontractkit/keepers
/contracts/**/*upkeep* @smartcontractkit/keepers
/contracts/**/*automation* @smartcontractkit/keepers
/contracts/**/*functions* @smartcontractkit/functions
/contracts/**/*llo-feeds* @austinborn @Fletch153
/contracts/**/*vrf* @smartcontractkit/vrf-team
/contracts/**/*l2ep* @simsonraj
/contracts/**/*operatorforwarder* @essamhassan

/contracts/src/v0.8/automation @smartcontractkit/keepers
/contracts/src/v0.8/functions @smartcontractkit/functions
# TODO: interfaces folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/l2ep @simsonraj
/contracts/src/v0.8/llo-feeds @austinborn @Fletch153
# TODO: mocks folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/operatorforwarder @essamhassan
/contracts/src/v0.8/shared @RensR
# TODO: tests folder, folder should be removed and files moved to the correct folders
# TODO: transmission folder, owner should be found
/contracts/src/v0.8/vrf @smartcontractkit/vrf-team



# At the end, match any files missed by the patterns above
/contracts/scripts/native_solc_compile_all_events_mock @smartcontractkit/functions


# Tests
/integration-tests/ @smartcontractkit/test-tooling-team
/integration-tests/**/*keeper* @smartcontractkit/keepers
/integration-tests/**/*automation* @smartcontractkit/keepers

# CI/CD
/.github/** @chainchad @javuto @jkongie @jmank88 @samsondav
/.github/workflows/integration-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/integration-chaos-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/integration-tests-publish.yml @smartcontractkit/test-tooling-team
/.github/workflows/performance-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/automation-ondemand-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-benchmark-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-load-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-nightly-tests.yml @smartcontractkit/keepers

/core/chainlink.Dockerfile @smartcontractkit/prodsec-public

# Dependencies
contracts/scripts/requirements.txt @smartcontractkit/prodsec-public
.tool-versions @smartcontractkit/prodsec-public
.nvmrc @smartcontractkit/prodsec-public
contracts/package.json @smartcontractkit/prodsec-public
contracts/pnpm.lock @smartcontractkit/prodsec-public
go.mod @smartcontractkit/prodsec-public
go.sum @smartcontractkit/prodsec-public
integration-tests/go.mod @smartcontractkit/prodsec-public
integration-tests/go.sum @smartcontractkit/prodsec-public
flake.nix @smartcontractkit/prodsec-public
flake.lock @smartcontractkit/prodsec-public

# Config
./core/config @samsondav @jmank88
./docs/CONFIG.md @samsondav @jmank88 @dwightjl
./internal/config/docs.toml @samsondav @jmank88 @dwightjl

# LOOP Plugins
/plugins @jmank88 @krehermann

rebase and update
  core/scripts/chaincli/handler/debug.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/streams/streams.go
Owners: @smartcontractkit/keepers

fix linting error
  core/services/vrf/v2/integration_helpers_test.go
Owners: @smartcontractkit/vrf-team

added link contract
  core/chains/evm/config/toml/defaults/Bttc_Testnet.toml
Owners: @samsondav, @prashantkumar1982

Implement LOOPP, bump common
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/ocr2/delegate.go
  core/services/ocr2/plugins/ocr2keeper/util.go
  core/services/relay/evm/evm.go
  core/services/relay/relay.go
  core/services/relay/relay_test.go
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/prodsec-public, @jmank88, @krehermann, @smartcontractkit/keepers

Bump relayers
  core/scripts/go.mod
  core/scripts/go.sum
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/prodsec-public

Update go mod references
  core/scripts/go.mod
  core/scripts/go.sum
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/prodsec-public

core/web: /health - and support for HTML & Plaintext
  core/web/health_controller.go
  core/web/health_controller_test.go
  core/web/health_template_test.go
  core/web/presenters/check.go
  core/web/router.go
  core/web/testdata/body/health.html
  core/web/testdata/body/health.txt
  core/web/testdata/health.html
  core/web/testdata/health.txt
Owners: @jkongie

minor build error
  core/services/vrf/v2/integration_helpers_test.go
Owners: @smartcontractkit/vrf-team

Little Docs Updates
  integration-tests/README.md
  integration-tests/example.env
Owners: @smartcontractkit/test-tooling-team

Addition
  integration-tests/README.md
Owners: @smartcontractkit/test-tooling-team

Mercury Packer (#11521)
  core/scripts/chaincli/handler/debug.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/encoding/interface.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/encoding/packer.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/encoding/packer_test.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/mercury.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/mercury_test.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/streams/streams.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/streams/streams_test.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/registry.go
Owners: @smartcontractkit/keepers

Mercury Packer (#11521)
  core/scripts/chaincli/handler/debug.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/encoding/interface.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/encoding/packer.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/encoding/packer_test.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/mercury.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/mercury_test.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/streams/streams.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/streams/streams_test.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/registry.go
Owners: @smartcontractkit/keepers

refactor based on suggestions
  .github/workflows/ci-scripts.yml
Owners: @chainchad, @javuto, @jkongie, @jmank88, @samsondav

Bump common, relays, implement NewAutomationProvider
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/ocr2/delegate.go
  core/services/ocr2/plugins/ocr2keeper/util.go
  core/services/relay/evm/evm.go
  core/services/relay/relay.go
  core/services/relay/relay_test.go
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/prodsec-public, @jmank88, @krehermann, @smartcontractkit/keepers

Rename file after merge conflict
  core/store/migrate/migrations/0214_add_custom_reverts_vrf.sql
Owners: @samsondav, @jmank88
