Repository smartcontractkit/chainlink, changes with the owners that CODEOWNERS names for each.
All owners: @PiotrTrzpil, @samsondav, @spooktheducks, @j16r, @connorwstein, @jkongie, @archseer, @RyanRHall, @DeividasK, @alexroan, @se3000

CODEOWNERS:

# Services
/core/services/bulletprooftxmanager @PiotrTrzpil @samsondav
/core/services/cron @spooktheducks @samsondav
/core/services/directrequest @PiotrTrzpil @spooktheducks @j16r @connorwstein @samsondav
/core/services/eth @PiotrTrzpil @spooktheducks @samsondav
/core/services/feeds @jkongie
/core/services/fluxmonitorv2 @jkongie @PiotrTrzpil @spooktheducks @connorwstein
/core/services/gasupdater @samsondav @PiotrTrzpil
/core/services/headtracker @PiotrTrzpil @samsondav
/core/services/health @archseer @samsondav
/core/services/job @spooktheducks @connorwstein @archseer
/core/services/keeper @RyanRHall @samsondav
/core/services/log @PiotrTrzpil @spooktheducks
/core/services/offchainreporting @spooktheducks @connorwstein @samsondav
/core/services/periodicbackup @PiotrTrzpil @samsondav
/core/services/pipeline @spooktheducks @connorwstein @archseer
/core/services/postgres
/core/services/synchronization
/core/services/telemetry
/core/services/vrf @connorwstein
/core/services/webhook @spooktheducks

# API
/core/web @jkongie

# CLI
/core/cmd @jkongie

# UI
/operator-ui/ @DeividasK @jkongie

# Contracts
/contracts/ @alexroan @se3000 @connorwstein

webhook: Support starting resumable jobs
  core/services/webhook/delegate.go
  core/services/webhook/delegate_test.go
Owners: @spooktheducks

Regenerate mocks
  core/services/pipeline/mocks/orm.go
Owners: @spooktheducks, @connorwstein, @archseer

pipeline: Passing integration test for async-jobs
  core/internal/cltest/cltest.go
  core/services/job/runner_integration_test.go
  core/services/pipeline/runner.go
Owners: @spooktheducks, @connorwstein, @archseer

Regenerate mocks
  core/services/pipeline/mocks/orm.go
Owners: @spooktheducks, @connorwstein, @archseer

Make sure to load the pipeline spec when updating so resume has access
  core/services/pipeline/orm.go
Owners: @spooktheducks, @connorwstein, @archseer

webhook: Support starting resumable jobs
  core/services/webhook/delegate.go
  core/services/webhook/delegate_test.go
Owners: @spooktheducks

pipeline: Correctly initialize Outputs as null
  core/services/pipeline/orm.go
  core/services/pipeline/orm_test.go
  core/services/pipeline/runner.go
  core/services/pipeline/scheduler.go
Owners: @spooktheducks, @connorwstein, @archseer

Make sure to load the pipeline spec when updating so resume has access
  core/services/pipeline/orm.go
Owners: @spooktheducks, @connorwstein, @archseer

pipeline: bridge: Only check for pending flag if async=true
  core/services/pipeline/task.bridge.go
Owners: @spooktheducks, @connorwstein, @archseer

pipeline: Correctly initialize Outputs as null
  core/services/pipeline/orm.go
  core/services/pipeline/orm_test.go
  core/services/pipeline/runner.go
  core/services/pipeline/scheduler.go
Owners: @spooktheducks, @connorwstein, @archseer

pipeline: Passing integration test for async-jobs
  core/internal/cltest/cltest.go
  core/services/job/runner_integration_test.go
  core/services/pipeline/runner.go
Owners: @spooktheducks, @connorwstein, @archseer

pipeline: bridge: Only check for pending flag if async=true
  core/services/pipeline/task.bridge.go
Owners: @spooktheducks, @connorwstein, @archseer

pipeline: Fix various tests broken by the webhook delegate change
  core/internal/cltest/factories.go
  core/services/fluxmonitorv2/orm_test.go
  core/services/job/runner_integration_test.go
  core/services/keeper/upkeep_executer.go
  core/services/pipeline/orm.go
  core/services/pipeline/runner.go
  core/services/vrf/delegate.go
  core/web/pipeline_runs_controller_test.go
Owners: @jkongie, @PiotrTrzpil, @spooktheducks, @connorwstein, @archseer, @RyanRHall, @samsondav

pipeline: Update pipeline_runs state machine
  core/store/migrations/0043_add_uuid_to_pipeline_task_runs.go
Owners: none

Move the async check to earlier in ExecuteRun
  core/services/pipeline/runner.go
Owners: @spooktheducks, @connorwstein, @archseer

Pass through the exit code
  tools/bin/go_core_tests
Owners: none

pipeline: Update pipeline_runs state machine
  core/store/migrations/0043_add_uuid_to_pipeline_task_runs.go
Owners: none

Split out reconstructResults
  core/services/pipeline/scheduler.go
Owners: @spooktheducks, @connorwstein, @archseer

Migration update
  core/internal/cltest/factories.go
  core/services/fluxmonitorv2/orm_test.go
  core/services/pipeline/models.go
  core/services/pipeline/orm.go
  core/services/pipeline/orm_test.go
  core/services/pipeline/runner.go
  core/store/migrations/0043_add_uuid_to_pipeline_task_runs.go
Owners: @jkongie, @PiotrTrzpil, @spooktheducks, @connorwstein, @archseer

Scheduler cleanup
  core/services/pipeline/scheduler.go
  core/services/pipeline/task.bridge.go
Owners: @spooktheducks, @connorwstein, @archseer

Migration update
  core/internal/cltest/factories.go
  core/services/fluxmonitorv2/orm_test.go
  core/services/pipeline/models.go
  core/services/pipeline/orm.go
  core/services/pipeline/orm_test.go
  core/services/pipeline/runner.go
  core/store/migrations/0043_add_uuid_to_pipeline_task_runs.go
Owners: @jkongie, @PiotrTrzpil, @spooktheducks, @connorwstein, @archseer

pipeline: Fix various tests broken by the webhook delegate change
  core/internal/cltest/factories.go
  core/services/fluxmonitorv2/orm_test.go
  core/services/job/runner_integration_test.go
  core/services/keeper/upkeep_executer.go
  core/services/pipeline/orm.go
  core/services/pipeline/runner.go
  core/services/vrf/delegate.go
  core/web/pipeline_runs_controller_test.go
Owners: @jkongie, @PiotrTrzpil, @spooktheducks, @connorwstein, @archseer, @RyanRHall, @samsondav

Run comment
  core/services/pipeline/runner.go
Owners: @spooktheducks, @connorwstein, @archseer

Split out reconstructResults
  core/services/pipeline/scheduler.go
Owners: @spooktheducks, @connorwstein, @archseer

Pass through the exit code
  tools/bin/go_core_tests
Owners: none

Disallow async jobs on most job types
  core/services/cron/cron.go
  core/services/cron/cron_test.go
  core/services/directrequest/validate.go
  core/services/fluxmonitorv2/validate.go
  core/services/fluxmonitorv2/validate_test.go
  core/services/keeper/validate.go
  core/services/offchainreporting/validate.go
  core/services/offchainreporting/validate_test.go
  core/services/vrf/validate.go
Owners: @spooktheducks, @samsondav, @PiotrTrzpil, @j16r, @connorwstein, @jkongie, @RyanRHall

Move the async check to earlier in ExecuteRun
  core/services/pipeline/runner.go
Owners: @spooktheducks, @connorwstein, @archseer

Run comment
  core/services/pipeline/runner.go
Owners: @spooktheducks, @connorwstein, @archseer

Scheduler cleanup
  core/services/pipeline/scheduler.go
  core/services/pipeline/task.bridge.go
Owners: @spooktheducks, @connorwstein, @archseer

Disallow async jobs on most job types
  core/services/cron/cron.go
  core/services/cron/cron_test.go
  core/services/directrequest/validate.go
  core/services/fluxmonitorv2/validate.go
  core/services/fluxmonitorv2/validate_test.go
  core/services/keeper/validate.go
  core/services/offchainreporting/validate.go
  core/services/offchainreporting/validate_test.go
  core/services/vrf/validate.go
Owners: @spooktheducks, @samsondav, @PiotrTrzpil, @j16r, @connorwstein, @jkongie, @RyanRHall

Wrap the tx.Commit error
  core/services/postgres/transaction.go
Owners: none

Make test order-independent
  core/services/pipeline/orm_test.go
Owners: @spooktheducks, @connorwstein, @archseer

Make test order-independent
  core/services/pipeline/orm_test.go
Owners: @spooktheducks, @connorwstein, @archseer

Strip out finished TODOs
  core/services/job/runner_integration_test.go
  core/services/pipeline/runner.go
  core/services/pipeline/task.bridge.go
  core/services/pipeline/task.bridge_test.go
Owners: @spooktheducks, @connorwstein, @archseer

Strip out finished TODOs
  core/services/job/runner_integration_test.go
  core/services/pipeline/runner.go
  core/services/pipeline/task.bridge.go
  core/services/pipeline/task.bridge_test.go
Owners: @spooktheducks, @connorwstein, @archseer

Wrap the tx.Commit error
  core/services/postgres/transaction.go
Owners: none

Move Batch to the postgres package
  core/services/pipeline/orm.go
Owners: @spooktheducks, @connorwstein, @archseer

Move Batch to the postgres package
  core/services/pipeline/orm.go
Owners: @spooktheducks, @connorwstein, @archseer
