Repository smartcontractkit/chainlink, changes with the owners that CODEOWNERS names for each.
All owners: @samsondav, @jmank88, @smartcontractkit/integrations, @prashantkumar1982, @pinebit, @connorwstein, @reductionista, @archseer, @cfal, @jkongie, @PiotrTrzpil, @RyanRHall, @krehermann, @sdrug, @martin-cll, @smartcontractkit/vrf-team, @smartcontractkit/keepers, @smartcontractkit/functions, @bolekk, @KuphJr, @justinkaseman, @DeividasK, @se3000, @RensR, @austinborn, @Fletch153, @simsonraj, @smartcontractkit/test-tooling-team, @chainchad, @javuto, @smartcontractkit/prodsec-public, @dwightjl

CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

# Misc
/core/store @samsondav @jmank88
/core/chains @samsondav
/core/logger @jmank88
/core/internal @samsondav @jmank88

# Chains
/common @smartcontractkit/integrations
/core/chains/evm @samsondav @prashantkumar1982
/core/chains/evm/headtracker @pinebit @samsondav @prashantkumar1982
/core/chains/evm/client @samsondav @prashantkumar1982
/core/chains/evm/log @jmank88 @prashantkumar1982 @connorwstein
/core/chains/evm/logpoller @reductionista @connorwstein
/core/chains/cosmos @archseer @cfal

# Services
/core/services/cron @samsondav
/core/services/directrequest @connorwstein @samsondav
/core/services/feeds @jkongie
/core/services/fluxmonitorv2 @jkongie @PiotrTrzpil @connorwstein
/core/services/health @samsondav
/core/services/job @connorwstein
/core/services/keystore @RyanRHall
/core/services/ocr* @connorwstein @samsondav
/core/services/ocr2 @jmank88 @krehermann
/core/services/periodicbackup @PiotrTrzpil @samsondav
/core/services/pg @samsondav
/core/services/pipeline @connorwstein @prashantkumar1982
/core/services/synchronization
/core/services/telemetry
/core/services/relay/evm/mercury @samsondav @sdrug @martin-cll

# VRF-related services
/core/services/vrf @smartcontractkit/vrf-team
/core/services/blockhashstore @smartcontractkit/vrf-team
/core/services/blockheaderfeeder @smartcontractkit/vrf-team
/core/services/pipeline/task.vrf.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2plus.go @smartcontractkit/vrf-team
/core/services/ocr2/plugins/dkg @smartcontractkit/vrf-team
/core/services/ocr2/plugins/ocr2vrf @smartcontractkit/vrf-team

# Keeper/Automation-related services
/core/services/keeper @smartcontractkit/keepers
/core/services/ocr2/plugins/ocr2keeper @smartcontractkit/keepers

/core/services/webhook @samsondav

# Chainlink Functions
core/services/functions @smartcontractkit/functions
core/services/ocr2/plugins/functions @smartcontractkit/functions
core/services/s4 @pinebit @bolekk
core/service/ocr2/plugins/s4 @pinebit @bolekk
core/services/ocr2/plugins/threshold @KuphJr @bolekk
core/services/relay/evm/functions.go @bolekk @justinkaseman @KuphJr
core/services/relay/evm/functions @bolekk @justinkaseman @KuphJr
core/scripts/functions @smartcontractkit/functions
core/scripts/gateway @bolekk @pinebit

# API
/core/web @jkongie

# CLI
/core/cmd @jkongie @jmank88 @samsondav

# UI
/operator-ui/ @DeividasK @jkongie

# Contracts
/contracts/ @se3000 @connorwstein @RensR

/contracts/srv/v0.8/automation @smartcontractkit/keepers
/contracts/**/*keeper* @smartcontractkit/keepers
/contracts/**/*upkeep* @smartcontractkit/keepers
/contracts/**/*automation* @smartcontractkit/keepers
/contracts/gas-snapshots/automation.gas-snapshot @smartcontractkit/keepers

/contracts/src/v0.8/functions @smartcontractkit/functions
/contracts/**/*functions* @smartcontractkit/functions
/contracts/gas-snapshots/functions.gas-snapshot @smartcontractkit/functions

/contracts/src/v0.8/llo-feeds @austinborn @Fletch153
/contracts/gas-snapshots/llo-feeds.gas-snapshot @austinborn @Fletch153

/contracts/src/v0.8/vrf @smartcontractkit/vrf-team
/contracts/**/*vrf* @smartcontractkit/vrf-team

/contracts/src/v0.8/l2ep @simsonraj

# Tests
/integration-tests/ @smartcontractkit/test-tooling-team
/integration-tests/**/*keeper* @smartcontractkit/keepers
/integration-tests/**/*automation* @smartcontractkit/keepers

# CI/CD
/.github/** @chainchad @javuto @jkongie @jmank88 @samsondav
/.github/workflows/integration-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/integration-chaos-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/integration-tests-publish.yml @smartcontractkit/test-tooling-team
/.github/workflows/performance-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/automation-ondemand-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-benchmark-tests.yml @smartcontractkit/keepers

/core/chainlink.Dockerfile @smartcontractkit/prodsec-public

# Dependencies
contracts/scripts/requirements.txt @smartcontractkit/prodsec-public
.tool-versions @smartcontractkit/prodsec-public
.nvmrc @smartcontractkit/prodsec-public
contracts/package.json @smartcontractkit/prodsec-public
contracts/pnpm.lock @smartcontractkit/prodsec-public
go.mod @smartcontractkit/prodsec-public
go.sum @smartcontractkit/prodsec-public
integration-tests/go.mod @smartcontractkit/prodsec-public
integration-tests/go.sum @smartcontractkit/prodsec-public
flake.nix @smartcontractkit/prodsec-public
flake.lock @smartcontractkit/prodsec-public

# Config
./core/config @samsondav @jmank88
./docs/CONFIG.md @samsondav @jmank88 @dwightjl
./internal/config/docs.toml @samsondav @jmank88 @dwightjl

# LOOP Plugins
/plugins @jmank88 @krehermann

bump npm packages (#10981)
  contracts/package.json
  contracts/pnpm-lock.yaml
Owners: @smartcontractkit/prodsec-public, @se3000, @connorwstein, @RensR

bump npm packages (#10981)
  contracts/package.json
  contracts/pnpm-lock.yaml
Owners: @smartcontractkit/prodsec-public, @se3000, @connorwstein, @RensR

feature/BCF-2404-grpc-tracing: tracing toml type ValidateConfig was brittle - expanded to accept docker network logical addresses
  core/config/toml/types.go
  core/config/toml/types_test.go
Owners: none

Finalize date on changelog for 2.6.0 (#10996)
  docs/CHANGELOG.md
Owners: none

fix the name
  integration-tests/smoke/automation_test.go
Owners: @smartcontractkit/keepers

bump typechain/hardhat
  contracts/package.json
  contracts/pnpm-lock.yaml
Owners: @smartcontractkit/prodsec-public, @se3000, @connorwstein, @RensR

bump typechain/hardhat
  contracts/package.json
  contracts/pnpm-lock.yaml
Owners: @smartcontractkit/prodsec-public, @se3000, @connorwstein, @RensR

bump nomiclabs/hardhat-etherscan
  contracts/package.json
  contracts/pnpm-lock.yaml
Owners: @smartcontractkit/prodsec-public, @se3000, @connorwstein, @RensR

fix the name (#10998)
  integration-tests/smoke/automation_test.go
Owners: @smartcontractkit/keepers

fix the name (#10998)
  integration-tests/smoke/automation_test.go
Owners: @smartcontractkit/keepers

AUTO-6622 Enable v0.3 StreamsLookup to also use blockNumber (#10986)
  core/services/ocr2/plugins/ocr2keeper/evm21/streams_lookup.go
  core/services/ocr2/plugins/ocr2keeper/evm21/streams_lookup_test.go
Owners: @smartcontractkit/keepers

AUTO-6622 Enable v0.3 StreamsLookup to also use blockNumber (#10986)
  core/services/ocr2/plugins/ocr2keeper/evm21/streams_lookup.go
  core/services/ocr2/plugins/ocr2keeper/evm21/streams_lookup_test.go
Owners: @smartcontractkit/keepers

[BCI-2199] Enable Arbitrum on demand soaks (#10993)
  .github/workflows/on-demand-ocr-soak-test.yml
  core/chains/evm/config/toml/defaults/Arbitrum_Sepolia.toml
  docs/CONFIG.md
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @chainchad, @javuto, @jkongie, @jmank88, @samsondav, @prashantkumar1982, @smartcontractkit/prodsec-public

[BCI-2199] Enable Arbitrum on demand soaks (#10993)
  .github/workflows/on-demand-ocr-soak-test.yml
  core/chains/evm/config/toml/defaults/Arbitrum_Sepolia.toml
  docs/CONFIG.md
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @chainchad, @javuto, @jkongie, @jmank88, @samsondav, @prashantkumar1982, @smartcontractkit/prodsec-public

Setup reproduction code for vrfv2plus e2e flake
  integration-tests/smoke/vrfv2plus_test.go
Owners: @smartcontractkit/test-tooling-team

Pin cbor v5.2.0 dependency
  contracts/package.json
  contracts/pnpm-lock.yaml
Owners: @smartcontractkit/prodsec-public, @se3000, @connorwstein, @RensR

Generate unique Functions requestIds for reorg'ed requests (#10891)
  contracts/gas-snapshots/functions.gas-snapshot
  contracts/src/v0.8/functions/dev/v1_X/FunctionsBilling.sol
  contracts/src/v0.8/functions/tests/v1_X/FunctionsRouter.t.sol
  core/gethwrappers/functions/generated/functions_coordinator/functions_coordinator.go
  core/gethwrappers/functions/generation/generated-wrapper-dependency-versions-do-not-edit.txt
Owners: @smartcontractkit/functions

Generate unique Functions requestIds for reorg'ed requests (#10891)
  contracts/gas-snapshots/functions.gas-snapshot
  contracts/src/v0.8/functions/dev/v1_X/FunctionsBilling.sol
  contracts/src/v0.8/functions/tests/v1_X/FunctionsRouter.t.sol
  core/gethwrappers/functions/generated/functions_coordinator/functions_coordinator.go
  core/gethwrappers/functions/generation/generated-wrapper-dependency-versions-do-not-edit.txt
Owners: @smartcontractkit/functions

feature/BCF-2404-grpc-tracing: wiring TracingConfig through NewLoopRegistry by including it in LoopRegistry
  core/cmd/shell.go
  core/cmd/shell_local_test.go
  core/cmd/shell_test.go
  core/config/toml/types.go
  core/internal/cltest/cltest.go
  core/services/chainlink/application.go
  core/services/chainlink/relayer_chain_interoperators_test.go
  core/web/loop_registry_internal_test.go
  plugins/loop_registry.go
  plugins/loop_registry_test.go
Owners: @jkongie, @jmank88, @samsondav, @krehermann

define job spec model
  core/services/job/models.go
Owners: @connorwstein

bump hardhat-abi-exporter
  contracts/package.json
  contracts/pnpm-lock.yaml
Owners: @smartcontractkit/prodsec-public, @se3000, @connorwstein, @RensR

bump hardhat-contract-sizer
  contracts/package.json
  contracts/pnpm-lock.yaml
Owners: @smartcontractkit/prodsec-public, @se3000, @connorwstein, @RensR

Remove additional funding step from smoke tests and make it configurable
  integration-tests/smoke/automation_test.go
Owners: @smartcontractkit/keepers

Amd 12
  .github/workflows/ci-core-scheduled.yml
  README.md
  tools/bin/go_core_tests
Owners: @chainchad, @javuto, @jkongie, @jmank88, @samsondav

use envconfig and fix for mercury subtest
  integration-tests/smoke/automation_test.go
Owners: @smartcontractkit/keepers

set default funding to 1
  integration-tests/smoke/automation_test.go
Owners: @smartcontractkit/keepers

[AUTO-6713] Remove additional funding step from smoke tests and make it configurable (#11004)
  integration-tests/smoke/automation_test.go
Owners: @smartcontractkit/keepers

[AUTO-6713] Remove additional funding step from smoke tests and make it configurable (#11004)
  integration-tests/smoke/automation_test.go
Owners: @smartcontractkit/keepers

Randomize name to avoid contention on 'idx_jobs_name'
  core/cmd/jobs_commands_test.go
Owners: @jkongie, @jmank88, @samsondav

bump typechain/ethers-v5
  contracts/package.json
  contracts/pnpm-lock.yaml
Owners: @smartcontractkit/prodsec-public, @se3000, @connorwstein, @RensR

Randomize name to avoid contention on 'idx_jobs_name' (#11005)
  core/cmd/jobs_commands_test.go
Owners: @jkongie, @jmank88, @samsondav

Randomize name to avoid contention on 'idx_jobs_name' (#11005)
  core/cmd/jobs_commands_test.go
Owners: @jkongie, @jmank88, @samsondav

[BCF-2627/BCF-2628/BCF-2629] Add general plugin service, server and clients (#173)
  pkg/loop/errors.go
  pkg/loop/internal/median.go
  pkg/loop/internal/pb/generate.go
  pkg/loop/internal/pb/reporting_plugin_service.pb.go
  pkg/loop/internal/pb/reporting_plugin_service.proto
  pkg/loop/internal/pb/reporting_plugin_service_grpc.pb.go
  pkg/loop/internal/plugin_provider.go
  pkg/loop/internal/plugin_service.go
  pkg/loop/internal/reporting_plugin_service.go
  pkg/loop/internal/service.go
  pkg/loop/internal/test/cmd/main.go
  pkg/loop/internal/test/logger_loop.go
  pkg/loop/internal/test/reporting_plugin.go
  pkg/loop/internal/test/test_plugin.go
  pkg/loop/logger_loop_test.go
  pkg/loop/median_service.go
  pkg/loop/median_service_test.go
  pkg/loop/plugin_median_test.go
  pkg/loop/plugin_relayer.go
  pkg/loop/plugin_relayer_test.go
  pkg/loop/plugin_service_test.go
  pkg/loop/process_test.go
  pkg/loop/relayer_service.go
  pkg/loop/relayer_service_test.go
  pkg/loop/reportingplugins/grpc.go
  pkg/loop/reportingplugins/grpc_test.go
  pkg/loop/reportingplugins/loopp_service.go
  pkg/loop/reportingplugins/loopp_service_test.go
  pkg/types/reporting_plugin_service.go
Owners: none

adjust LogWatch use to TT-590
  integration-tests/docker/test_env/cl_node.go
  integration-tests/docker/test_env/test_env.go
  integration-tests/docker/test_env/test_env_builder.go
  integration-tests/smoke/automation_test.go
Owners: @smartcontractkit/test-tooling-team, @smartcontractkit/keepers

Stash
  integration-tests/contracts/contract_loader.go
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/test-tooling-team, @smartcontractkit/prodsec-public

Adds WeMix testnet config
  .github/workflows/on-demand-ocr-soak-test.yml
  common/txmgr/txmgr.go
  core/chains/evm/config/toml/defaults/WeMix_Mainnet.toml
  core/chains/evm/config/toml/defaults/WeMix_Testnet.toml
  core/chains/evm/gas/block_history_estimator_test.go
  core/chains/evm/gas/chain_specific.go
  core/chains/evm/txmgr/evm_tx_store.go
  core/config/chaintype.go
  core/config/docs/chains-evm.toml
  core/services/chainlink/config_test.go
  docs/CONFIG.md
  integration-tests/contracts/contract_deployer.go
  integration-tests/contracts/contract_loader.go
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @chainchad, @javuto, @jkongie, @jmank88, @samsondav, @smartcontractkit/integrations, @prashantkumar1982, @smartcontractkit/test-tooling-team, @smartcontractkit/prodsec-public

add callWithExactGas lib
  contracts/src/v0.8/shared/call/CallWithExactGas.sol
  contracts/src/v0.8/shared/test/call/CallWithExactGas.t.sol
  contracts/src/v0.8/shared/test/call/CallWithExactGasHelper.sol
  contracts/src/v0.8/shared/test/testhelpers/GenericReceiver.sol
Owners: @se3000, @connorwstein, @RensR

upgrade opfwdr contracts to v0.8 and implement multiforward (#10933)
  contracts/src/v0.8/dev/shared/interfaces/OwnableInterface.sol
  contracts/src/v0.8/interfaces/AuthorizedReceiverInterface.sol
  contracts/src/v0.8/interfaces/OperatorInterface.sol
  contracts/src/v0.8/interfaces/OracleInterface.sol
  contracts/src/v0.8/operatorforwarder/dev/AuthorizedForwarder.sol
  contracts/src/v0.8/operatorforwarder/dev/AuthorizedReceiver.sol
  contracts/src/v0.8/operatorforwarder/dev/LinkTokenReceiver.sol
  contracts/src/v0.8/operatorforwarder/dev/Operator.sol
  contracts/src/v0.8/operatorforwarder/dev/OperatorFactory.sol
  contracts/src/v0.8/operatorforwarder/dev/interfaces/WithdrawalInterface.sol
  contracts/test/v0.8/operatorforwarder/AuthorizedForwarder.test.ts
  contracts/test/v0.8/operatorforwarder/ConfirmedOwner.test.ts
  contracts/test/v0.8/operatorforwarder/Operator.test.ts
  contracts/test/v0.8/operatorforwarder/OperatorFactory.test.ts
Owners: @se3000, @connorwstein, @RensR

upgrade opfwdr contracts to v0.8 and implement multiforward (#10933)
  contracts/src/v0.8/dev/shared/interfaces/OwnableInterface.sol
  contracts/src/v0.8/interfaces/AuthorizedReceiverInterface.sol
  contracts/src/v0.8/interfaces/OperatorInterface.sol
  contracts/src/v0.8/interfaces/OracleInterface.sol
  contracts/src/v0.8/operatorforwarder/dev/AuthorizedForwarder.sol
  contracts/src/v0.8/operatorforwarder/dev/AuthorizedReceiver.sol
  contracts/src/v0.8/operatorforwarder/dev/LinkTokenReceiver.sol
  contracts/src/v0.8/operatorforwarder/dev/Operator.sol
  contracts/src/v0.8/operatorforwarder/dev/OperatorFactory.sol
  contracts/src/v0.8/operatorforwarder/dev/interfaces/WithdrawalInterface.sol
  contracts/test/v0.8/operatorforwarder/AuthorizedForwarder.test.ts
  contracts/test/v0.8/operatorforwarder/ConfirmedOwner.test.ts
  contracts/test/v0.8/operatorforwarder/Operator.test.ts
  contracts/test/v0.8/operatorforwarder/OperatorFactory.test.ts
Owners: @se3000, @connorwstein, @RensR

add fuzz test
  contracts/src/v0.8/shared/test/call/CallWithExactGas.t.sol
Owners: @se3000, @connorwstein, @RensR
