Repository smartcontractkit/chainlink, changes with the owners that CODEOWNERS names for each.
All owners: @samsondav, @jmank88, @smartcontractkit/integrations, @prashantkumar1982, @pinebit, @connorwstein, @reductionista, @archseer, @cfal, @jkongie, @PiotrTrzpil, @RyanRHall, @krehermann, @sdrug, @martin-cll, @smartcontractkit/vrf-team, @smartcontractkit/keepers, @smartcontractkit/functions, @bolekk, @KuphJr, @justinkaseman, @DeividasK, @se3000, @RensR, @austinborn, @Fletch153, @simsonraj, @smartcontractkit/test-tooling-team, @chainchad, @javuto, @smartcontractkit/prodsec-public, @dwightjl

fix: retries for LINKNATIVEFEED and LINKETHFEED
  core/services/vrf/delegate.go
Owners: @smartcontractkit/vrf-team

Adding more debug logs
  core/chains/evm/txmgr/evm_tx_store.go
Owners: @samsondav, @prashantkumar1982

dup code to make it more safe
  contracts/src/v0.8/shared/call/CallWithExactGas.sol
  contracts/src/v0.8/shared/test/call/CallWithExactGas.t.sol
Owners: @se3000, @connorwstein, @RensR

Fix debug typo
  core/chains/evm/txmgr/evm_tx_store.go
Owners: @samsondav, @prashantkumar1982

fix: retries for LINKNATIVEFEED and LINKETHFEED (#11010)
  core/services/vrf/delegate.go
Owners: @smartcontractkit/vrf-team

fix: retries for LINKNATIVEFEED and LINKETHFEED (#11010)
  core/services/vrf/delegate.go
Owners: @smartcontractkit/vrf-team

More randomising of externalJobID and name
  core/cmd/jobs_commands_test.go
  core/internal/features/features_test.go
  core/services/feeds/rpc_handlers_test.go
  core/services/feeds/service_test.go
  core/testdata/tomlspecs/cron-spec.toml
  core/testdata/tomlspecs/direct-request-spec-cbor.toml
  core/testdata/tomlspecs/flux-monitor-spec.toml
  core/testdata/tomlspecs/multiword-response-spec.toml
  core/testdata/tomlspecs/ocr-bootstrap-spec.toml
  core/testdata/tomlspecs/ocr-spec-local-test.toml
  core/testdata/tomlspecs/oracle-spec-invalid-key.toml
  core/testdata/tomlspecs/presumptive-success-job.toml
  core/testdata/tomlspecs/vrf-spec.toml
  core/testdata/tomlspecs/vrf-v2-spec.toml
  core/testdata/tomlspecs/webhook-job-spec-with-empty-json.toml
  core/web/jobs_controller_test.go
Owners: @jkongie, @jmank88, @samsondav

(test): Add Functions test harnesses & additional unit tests
  contracts/foundry.toml
  contracts/gas-snapshots/functions.gas-snapshot
  contracts/src/v0.8/functions/tests/v1_X/FunctionsBilling.t.sol
  contracts/src/v0.8/functions/tests/v1_X/FunctionsClient.t.sol
  contracts/src/v0.8/functions/tests/v1_X/FunctionsCoordinator.t.sol
  contracts/src/v0.8/functions/tests/v1_X/FunctionsRouter.t.sol
  contracts/src/v0.8/functions/tests/v1_X/FunctionsSubscriptions.t.sol
  contracts/src/v0.8/functions/tests/v1_X/README.md
  contracts/src/v0.8/functions/tests/v1_X/Setup.t.sol
  contracts/src/v0.8/functions/tests/v1_X/testhelpers/FunctionsClientHarness.sol
  contracts/src/v0.8/functions/tests/v1_X/testhelpers/FunctionsClientTestHelper.sol
  contracts/src/v0.8/functions/tests/v1_X/testhelpers/FunctionsClientWithEmptyCallback.sol
  contracts/src/v0.8/functions/tests/v1_X/testhelpers/FunctionsCoordinatorHarness.sol
  contracts/src/v0.8/functions/tests/v1_X/testhelpers/FunctionsCoordinatorTestHelper.sol
  contracts/src/v0.8/functions/tests/v1_X/testhelpers/FunctionsRouterHarness.sol
  contracts/src/v0.8/functions/tests/v1_X/testhelpers/FunctionsSubscriptionsHarness.sol
  contracts/src/v0.8/functions/tests/v1_X/testhelpers/FunctionsTestHelper.sol
Owners: @se3000, @connorwstein, @RensR, @smartcontractkit/functions

CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

# Misc
/core/store @samsondav @jmank88
/core/chains @samsondav
/core/logger @jmank88
/core/internal @samsondav @jmank88

# Chains
/common @smartcontractkit/integrations
/core/chains/evm @samsondav @prashantkumar1982
/core/chains/evm/headtracker @pinebit @samsondav @prashantkumar1982
/core/chains/evm/client @samsondav @prashantkumar1982
/core/chains/evm/log @jmank88 @prashantkumar1982 @connorwstein
/core/chains/evm/logpoller @reductionista @connorwstein
/core/chains/cosmos @archseer @cfal

# Services
/core/services/cron @samsondav
/core/services/directrequest @connorwstein @samsondav
/core/services/feeds @jkongie
/core/services/fluxmonitorv2 @jkongie @PiotrTrzpil @connorwstein
/core/services/health @samsondav
/core/services/job @connorwstein
/core/services/keystore @RyanRHall
/core/services/ocr* @connorwstein @samsondav
/core/services/ocr2 @jmank88 @krehermann
/core/services/periodicbackup @PiotrTrzpil @samsondav
/core/services/pg @samsondav
/core/services/pipeline @connorwstein @prashantkumar1982
/core/services/synchronization
/core/services/telemetry
/core/services/relay/evm/mercury @samsondav @sdrug @martin-cll

# VRF-related services
/core/services/vrf @smartcontractkit/vrf-team
/core/services/blockhashstore @smartcontractkit/vrf-team
/core/services/blockheaderfeeder @smartcontractkit/vrf-team
/core/services/pipeline/task.vrf.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2plus.go @smartcontractkit/vrf-team
/core/services/ocr2/plugins/dkg @smartcontractkit/vrf-team
/core/services/ocr2/plugins/ocr2vrf @smartcontractkit/vrf-team

# Keeper/Automation-related services
/core/services/keeper @smartcontractkit/keepers
/core/services/ocr2/plugins/ocr2keeper @smartcontractkit/keepers

/core/services/webhook @samsondav

# Chainlink Functions
core/services/functions @smartcontractkit/functions
core/services/ocr2/plugins/functions @smartcontractkit/functions
core/services/s4 @pinebit @bolekk
core/service/ocr2/plugins/s4 @pinebit @bolekk
core/services/ocr2/plugins/threshold @KuphJr @bolekk
core/services/relay/evm/functions.go @bolekk @justinkaseman @KuphJr
core/services/relay/evm/functions @bolekk @justinkaseman @KuphJr
core/scripts/functions @smartcontractkit/functions
core/scripts/gateway @bolekk @pinebit

# API
/core/web @jkongie

# CLI
/core/cmd @jkongie @jmank88 @samsondav

# UI
/operator-ui/ @DeividasK @jkongie

# Contracts
/contracts/ @se3000 @connorwstein @RensR

/contracts/srv/v0.8/automation @smartcontractkit/keepers
/contracts/**/*keeper* @smartcontractkit/keepers
/contracts/**/*upkeep* @smartcontractkit/keepers
/contracts/**/*automation* @smartcontractkit/keepers
/contracts/gas-snapshots/automation.gas-snapshot @smartcontractkit/keepers

/contracts/src/v0.8/functions @smartcontractkit/functions
/contracts/**/*functions* @smartcontractkit/functions
/contracts/gas-snapshots/functions.gas-snapshot @smartcontractkit/functions

/contracts/src/v0.8/llo-feeds @austinborn @Fletch153
/contracts/gas-snapshots/llo-feeds.gas-snapshot @austinborn @Fletch153

/contracts/src/v0.8/vrf @smartcontractkit/vrf-team
/contracts/**/*vrf* @smartcontractkit/vrf-team

/contracts/src/v0.8/l2ep @simsonraj

# Tests
/integration-tests/ @smartcontractkit/test-tooling-team
/integration-tests/**/*keeper* @smartcontractkit/keepers
/integration-tests/**/*automation* @smartcontractkit/keepers

# CI/CD
/.github/** @chainchad @javuto @jkongie @jmank88 @samsondav
/.github/workflows/integration-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/integration-chaos-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/integration-tests-publish.yml @smartcontractkit/test-tooling-team
/.github/workflows/performance-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/automation-ondemand-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-benchmark-tests.yml @smartcontractkit/keepers

/core/chainlink.Dockerfile @smartcontractkit/prodsec-public

# Dependencies
contracts/scripts/requirements.txt @smartcontractkit/prodsec-public
.tool-versions @smartcontractkit/prodsec-public
.nvmrc @smartcontractkit/prodsec-public
contracts/package.json @smartcontractkit/prodsec-public
contracts/pnpm.lock @smartcontractkit/prodsec-public
go.mod @smartcontractkit/prodsec-public
go.sum @smartcontractkit/prodsec-public
integration-tests/go.mod @smartcontractkit/prodsec-public
integration-tests/go.sum @smartcontractkit/prodsec-public
flake.nix @smartcontractkit/prodsec-public
flake.lock @smartcontractkit/prodsec-public

# Config
./core/config @samsondav @jmank88
./docs/CONFIG.md @samsondav @jmank88 @dwightjl
./internal/config/docs.toml @samsondav @jmank88 @dwightjl

# LOOP Plugins
/plugins @jmank88 @krehermann
