Repository smartcontractkit/chainlink, changes with the owners that CODEOWNERS names for each.
All owners: @PiotrTrzpil, @samsondav, @archseer, @spooktheducks, @j16r, @connorwstein, @jkongie, @RyanRHall, @jmank88, @DeividasK, @alexroan, @se3000, @smartcontractkit/prodsec-public

update to latest solana relay version + corresponding job spec parameter change
  core/services/relay/delegate.go
  go.mod
  go.sum
Owners: @smartcontractkit/prodsec-public

update to latest solana relay version + corresponding job spec parameter change
  core/services/relay/delegate.go
  go.mod
  go.sum
Owners: @smartcontractkit/prodsec-public

Remove go.mod and go.sum unnecessary changes
  go.mod
  go.sum
Owners: @smartcontractkit/prodsec-public

Update to latest framework version
  .github/workflows/integration-tests.yml
  go.mod
  go.sum
  integration-tests/README.md
  integration-tests/framework.yaml
  integration-tests/smoke/cron_test.go
  integration-tests/smoke/flux_test.go
  integration-tests/smoke/keeper_test.go
  integration-tests/smoke/ocr_test.go
  integration-tests/smoke/runlog_test.go
  integration-tests/smoke/vrf_test.go
Owners: @smartcontractkit/prodsec-public

Automatically add edges between tasks (#5426)
  core/services/job/job_pipeline_orm_integration_test.go
  core/services/pipeline/common.go
  core/services/pipeline/graph.go
  core/services/pipeline/graph_test.go
  core/services/pipeline/helpers_test.go
  core/services/pipeline/scheduler.go
  core/services/pipeline/task.base.go
  core/services/pipeline/test_helpers_test.go
Owners: @spooktheducks, @connorwstein, @archseer

Automatically add edges between tasks (#5426)
  core/services/job/job_pipeline_orm_integration_test.go
  core/services/pipeline/common.go
  core/services/pipeline/graph.go
  core/services/pipeline/graph_test.go
  core/services/pipeline/helpers_test.go
  core/services/pipeline/scheduler.go
  core/services/pipeline/task.base.go
  core/services/pipeline/test_helpers_test.go
Owners: @spooktheducks, @connorwstein, @archseer

Adds lowercase task for jobs
  core/services/pipeline/common.go
  core/services/pipeline/task.lowercase.go
  core/services/pipeline/task.lowercase_test.go
Owners: @spooktheducks, @connorwstein, @archseer

Adds pipeline tests for string manipulation
  core/services/pipeline/runner_test.go
Owners: @spooktheducks, @connorwstein, @archseer

Adds uppercase job task
  core/services/pipeline/common.go
  core/services/pipeline/task.uppercase.go
  core/services/pipeline/task.uppercase_test.go
Owners: @spooktheducks, @connorwstein, @archseer

add month/day validation to cron upkeep contract
  contracts/src/v0.8/libraries/internal/Cron.sol
  contracts/test/test-helpers/fixtures.ts
Owners: @alexroan, @se3000, @connorwstein

add month/day validation to cron upkeep contract
  contracts/src/v0.8/libraries/internal/Cron.sol
  contracts/test/test-helpers/fixtures.ts
Owners: @alexroan, @se3000, @connorwstein

Revert "Update all package.json with a preinstall script to prevent npm install"
  contracts/package.json
  operator_ui/package.json
  package.json
  tools/external-adapter/package.json
  tools/package.json
Owners: @smartcontractkit/prodsec-public

Revert "Update all package.json with a preinstall script to prevent npm install"
  contracts/package.json
  operator_ui/package.json
  package.json
  tools/external-adapter/package.json
  tools/package.json
Owners: @smartcontractkit/prodsec-public

bump version and update changelog
  contracts/CHANGELOG.md
  contracts/package.json
Owners: @alexroan, @se3000, @connorwstein, @smartcontractkit/prodsec-public

bump version and update changelog
  contracts/CHANGELOG.md
  contracts/package.json
Owners: @alexroan, @se3000, @connorwstein, @smartcontractkit/prodsec-public

CODEOWNERS:

# Services
/core/services/bulletprooftxmanager @PiotrTrzpil @samsondav @archseer
/core/services/cron @spooktheducks @samsondav
/core/services/directrequest @PiotrTrzpil @spooktheducks @j16r @connorwstein @samsondav
/core/services/eth @PiotrTrzpil @spooktheducks @samsondav
/core/services/feeds @jkongie
/core/services/fluxmonitorv2 @jkongie @PiotrTrzpil @spooktheducks @connorwstein
/core/services/gasupdater @samsondav @PiotrTrzpil @archseer
/core/services/headtracker @PiotrTrzpil @samsondav
/core/services/health @archseer @samsondav
/core/services/job @spooktheducks @connorwstein @archseer
/core/services/keeper @RyanRHall @samsondav
/core/services/keystore @RyanRHall
/core/services/log @PiotrTrzpil @spooktheducks @jmank88
/core/services/offchainreporting @spooktheducks @connorwstein @samsondav @archseer
/core/services/periodicbackup @PiotrTrzpil @samsondav
/core/services/pipeline @spooktheducks @connorwstein @archseer
/core/services/postgres @archseer
/core/services/synchronization
/core/services/telemetry
/core/services/vrf @connorwstein
/core/services/webhook @spooktheducks @archseer

# API
/core/web @jkongie

# CLI
/core/cmd @jkongie

# UI
/operator-ui/ @DeividasK @jkongie

# Contracts
/contracts/ @alexroan @se3000 @connorwstein

# Misc
/core/store @archseer @samsondav @jmank88
/core/chains @samsondav
/core/logger @jmank88
/core/internal @samsondav @jmank88 @archseer

# Dependencies
contracts/scripts/requirements.txt @smartcontractkit/prodsec-public
.tool-versions @smartcontractkit/prodsec-public
.nvmrc @smartcontractkit/prodsec-public
package.json @smartcontractkit/prodsec-public
yarn.lock @smartcontractkit/prodsec-public
go.mod @smartcontractkit/prodsec-public
go.sum @smartcontractkit/prodsec-public
flake.nix @smartcontractkit/prodsec-public
flake.lock @smartcontractkit/prodsec-public
