Repository smartcontractkit/chainlink, changes with the owners that CODEOWNERS names for each.
All owners: @PiotrTrzpil, @samsondav, @spooktheducks, @j16r, @connorwstein, @jkongie, @archseer, @RyanRHall, @DeividasK, @alexroan, @se3000

CODEOWNERS:

# Services
/core/services/bulletprooftxmanager @PiotrTrzpil @samsondav
/core/services/cron @spooktheducks @samsondav
/core/services/directrequest @PiotrTrzpil @spooktheducks @j16r @connorwstein @samsondav
/core/services/eth @PiotrTrzpil @spooktheducks @samsondav
/core/services/feeds @jkongie
/core/services/fluxmonitorv2 @jkongie @PiotrTrzpil @spooktheducks @connorwstein
/core/services/gasupdater @samsondav @PiotrTrzpil
/core/services/headtracker @PiotrTrzpil @samsondav
/core/services/health @archseer @samsondav
/core/services/job @spooktheducks @connorwstein @archseer
/core/services/keeper @RyanRHall @samsondav
/core/services/log @PiotrTrzpil @spooktheducks
/core/services/offchainreporting @spooktheducks @connorwstein @samsondav
/core/services/periodicbackup @PiotrTrzpil @samsondav
/core/services/pipeline @spooktheducks @connorwstein @archseer
/core/services/postgres
/core/services/synchronization
/core/services/telemetry
/core/services/vrf @connorwstein
/core/services/webhook @spooktheducks

# API
/core/web @jkongie

# CLI
/core/cmd @jkongie

# UI
/operator-ui/ @DeividasK @jkongie

# Contracts
/contracts/ @alexroan @se3000 @connorwstein

improve test run output
  tools/bin/go_core_tests
Owners: none

Removed dev Ownership and moved ValidatorProxy out of dev
  contracts/src/v0.8/ValidatorProxy.sol
  contracts/src/v0.8/dev/ConfirmedOwner.sol
  contracts/src/v0.8/dev/ConfirmedOwnerWithProposal.sol
Owners: @alexroan, @se3000, @connorwstein

Removed dev Ownership and moved ValidatorProxy out of dev
  contracts/src/v0.8/ValidatorProxy.sol
  contracts/src/v0.8/dev/ConfirmedOwner.sol
  contracts/src/v0.8/dev/ConfirmedOwnerWithProposal.sol
Owners: @alexroan, @se3000, @connorwstein

Renamed owner parameter to avoid conflict
  contracts/src/v0.7/ConfirmedOwnerWithProposal.sol
  contracts/src/v0.8/ConfirmedOwnerWithProposal.sol
Owners: @alexroan, @se3000, @connorwstein

Renamed owner parameter to avoid conflict
  contracts/src/v0.7/ConfirmedOwnerWithProposal.sol
  contracts/src/v0.8/ConfirmedOwnerWithProposal.sol
Owners: @alexroan, @se3000, @connorwstein

fix flaky test
  core/services/log/models.go
  core/services/run_manager_test.go
Owners: @PiotrTrzpil, @spooktheducks

run.Status, resume hook SQL
  core/internal/cltest/factories.go
  core/services/chainlink/application.go
  core/services/fluxmonitorv2/flux_monitor_test.go
  core/services/pipeline/models.go
  core/services/pipeline/models_test.go
  core/services/pipeline/orm.go
  core/services/pipeline/orm_test.go
  core/services/pipeline/runner.go
  core/services/postgres/transaction.go
  core/store/migrations/0040_add_run_id_to_pipeline_runs.go
  core/web/pipeline_runs_controller.go
Owners: @jkongie, @PiotrTrzpil, @spooktheducks, @connorwstein, @archseer

nix: Add more go tools to the shell
  shell.nix
Owners: none

Pass through headers on makeHTTPRequest
  core/adapters/bridge.go
  core/adapters/http.go
  core/services/pipeline/common_http.go
  core/services/pipeline/task.http.go
  core/utils/http.go
Owners: @spooktheducks, @connorwstein, @archseer

Update mocks
  core/internal/mocks/application.go
  core/services/pipeline/mocks/config.go
  core/services/pipeline/mocks/orm.go
  core/services/pipeline/mocks/pipeline_param_unmarshaler.go
  core/services/pipeline/mocks/runner.go
Owners: @spooktheducks, @connorwstein, @archseer

Do we really need tests for old migrations?
  core/store/migrations/migrate_test.go
Owners: none

pipeline: PoC run execute -> suspend -> resume
  core/services/fluxmonitorv2/orm_test.go
  core/services/pipeline/common.go
  core/services/pipeline/graph.go
  core/services/pipeline/mocks/config.go
  core/services/pipeline/mocks/orm.go
  core/services/pipeline/mocks/pipeline_param_unmarshaler.go
  core/services/pipeline/mocks/runner.go
  core/services/pipeline/models.go
  core/services/pipeline/models_test.go
  core/services/pipeline/orm.go
  core/services/pipeline/orm_test.go
  core/services/pipeline/runner.go
  core/services/pipeline/runner_test.go
  core/services/pipeline/scheduler.go
  core/services/pipeline/task.bridge.go
  core/services/pipeline/task.bridge_test.go
  core/services/postgres/transaction.go
  core/services/postgres/transform.go
  core/services/postgres/transform_test.go
  core/store/migrations/0040_add_run_id_to_pipeline_runs.go
  core/web/pipeline_runs_controller.go
  core/web/pipeline_runs_controller_test.go
  core/web/router.go
  go.mod
  go.sum
  tools/bin/lint
Owners: @jkongie, @PiotrTrzpil, @spooktheducks, @connorwstein, @archseer

nix: Add more go tools to the shell
  shell.nix
Owners: none

Do we really need tests for old migrations?
  core/store/migrations/migrate_test.go
Owners: none

Update mocks
  core/internal/mocks/application.go
  core/services/pipeline/mocks/config.go
  core/services/pipeline/mocks/orm.go
  core/services/pipeline/mocks/pipeline_param_unmarshaler.go
  core/services/pipeline/mocks/runner.go
Owners: @spooktheducks, @connorwstein, @archseer

pipeline: PoC run execute -> suspend -> resume
  core/services/fluxmonitorv2/orm_test.go
  core/services/pipeline/common.go
  core/services/pipeline/graph.go
  core/services/pipeline/mocks/config.go
  core/services/pipeline/mocks/orm.go
  core/services/pipeline/mocks/pipeline_param_unmarshaler.go
  core/services/pipeline/mocks/runner.go
  core/services/pipeline/models.go
  core/services/pipeline/models_test.go
  core/services/pipeline/orm.go
  core/services/pipeline/orm_test.go
  core/services/pipeline/runner.go
  core/services/pipeline/runner_test.go
  core/services/pipeline/scheduler.go
  core/services/pipeline/task.bridge.go
  core/services/pipeline/task.bridge_test.go
  core/services/postgres/transaction.go
  core/services/postgres/transform.go
  core/services/postgres/transform_test.go
  core/store/migrations/0040_add_run_id_to_pipeline_runs.go
  core/web/pipeline_runs_controller.go
  core/web/pipeline_runs_controller_test.go
  core/web/router.go
  go.mod
  go.sum
  tools/bin/lint
Owners: @jkongie, @PiotrTrzpil, @spooktheducks, @connorwstein, @archseer

Pass through headers on makeHTTPRequest
  core/adapters/bridge.go
  core/adapters/http.go
  core/services/pipeline/common_http.go
  core/services/pipeline/task.http.go
  core/utils/http.go
Owners: @spooktheducks, @connorwstein, @archseer

run.Status, resume hook SQL
  core/internal/cltest/factories.go
  core/services/chainlink/application.go
  core/services/fluxmonitorv2/flux_monitor_test.go
  core/services/pipeline/models.go
  core/services/pipeline/models_test.go
  core/services/pipeline/orm.go
  core/services/pipeline/orm_test.go
  core/services/pipeline/runner.go
  core/services/postgres/transaction.go
  core/store/migrations/0040_add_run_id_to_pipeline_runs.go
  core/web/pipeline_runs_controller.go
Owners: @jkongie, @PiotrTrzpil, @spooktheducks, @connorwstein, @archseer

tools/bin/lint: use golangci-lint
  tools/bin/lint
Owners: none

pipeline: Init task for resuming partial jobs after node crash
  core/services/pipeline/orm.go
  core/services/pipeline/runner.go
Owners: @spooktheducks, @connorwstein, @archseer

RunID -> TaskRunID
  core/services/pipeline/models.go
  core/services/pipeline/models_test.go
  core/services/pipeline/orm.go
  core/services/pipeline/orm_test.go
  core/services/pipeline/runner.go
  core/store/migrations/0043_add_uuid_to_pipeline_task_runs.go
Owners: @spooktheducks, @connorwstein, @archseer

pipeline: Drop saveSuccessfulTaskRuns from StoreRun
  core/services/pipeline/orm.go
  core/services/pipeline/runner.go
Owners: @spooktheducks, @connorwstein, @archseer

pipeline: migrate from *Time to null.Time
  core/cmd/renderer.go
  core/internal/cltest/factories.go
  core/services/fluxmonitorv2/flux_monitor_test.go
  core/services/fluxmonitorv2/orm_test.go
  core/services/keeper/upkeep_executer.go
  core/services/pipeline/common.go
  core/services/pipeline/models.go
  core/services/pipeline/orm.go
  core/services/pipeline/runner.go
  core/services/pipeline/scheduler.go
  core/services/vrf/delegate.go
Owners: @jkongie, @PiotrTrzpil, @spooktheducks, @connorwstein, @RyanRHall, @samsondav, @archseer

pipeline: Init task for resuming partial jobs after node crash
  core/services/pipeline/orm.go
  core/services/pipeline/runner.go
Owners: @spooktheducks, @connorwstein, @archseer

pipeline: Drop saveSuccessfulTaskRuns from StoreRun
  core/services/pipeline/orm.go
  core/services/pipeline/runner.go
Owners: @spooktheducks, @connorwstein, @archseer

Rename migration
  core/store/migrations/0043_add_uuid_to_pipeline_task_runs.go
Owners: none

tools/bin/lint: use golangci-lint
  tools/bin/lint
Owners: none

nix: Use golangci-lint
  shell.nix
Owners: none

RunID -> TaskRunID
  core/services/pipeline/models.go
  core/services/pipeline/models_test.go
  core/services/pipeline/orm.go
  core/services/pipeline/orm_test.go
  core/services/pipeline/runner.go
  core/store/migrations/0043_add_uuid_to_pipeline_task_runs.go
Owners: @spooktheducks, @connorwstein, @archseer

JSONSerializable: Add an Empty method
  core/services/pipeline/common.go
  core/services/pipeline/models.go
Owners: @spooktheducks, @connorwstein, @archseer

pipeline: bridge: Pass the responseURL through
  core/services/pipeline/helpers_test.go
  core/services/pipeline/task.bridge.go
  core/services/pipeline/task.bridge_test.go
  core/services/pipeline/task.http_test.go
Owners: @spooktheducks, @connorwstein, @archseer

pipeline: migrate from *Time to null.Time
  core/cmd/renderer.go
  core/internal/cltest/factories.go
  core/services/fluxmonitorv2/flux_monitor_test.go
  core/services/fluxmonitorv2/orm_test.go
  core/services/keeper/upkeep_executer.go
  core/services/pipeline/common.go
  core/services/pipeline/models.go
  core/services/pipeline/orm.go
  core/services/pipeline/runner.go
  core/services/pipeline/scheduler.go
  core/services/vrf/delegate.go
Owners: @jkongie, @PiotrTrzpil, @spooktheducks, @connorwstein, @RyanRHall, @samsondav, @archseer

nix: Use golangci-lint
  shell.nix
Owners: none

Rename migration
  core/store/migrations/0043_add_uuid_to_pipeline_task_runs.go
Owners: none

pipeline: bridge: Pass the responseURL through
  core/services/pipeline/helpers_test.go
  core/services/pipeline/task.bridge.go
  core/services/pipeline/task.bridge_test.go
  core/services/pipeline/task.http_test.go
Owners: @spooktheducks, @connorwstein, @archseer

JSONSerializable: Add an Empty method
  core/services/pipeline/common.go
  core/services/pipeline/models.go
Owners: @spooktheducks, @connorwstein, @archseer

If run is not async and is complete, just insert it via InsertFinishedRun
  core/services/pipeline/runner.go
Owners: @spooktheducks, @connorwstein, @archseer

Create specs in ORM tests
  core/services/pipeline/orm_test.go
Owners: @spooktheducks, @connorwstein, @archseer

Create specs in ORM tests
  core/services/pipeline/orm_test.go
Owners: @spooktheducks, @connorwstein, @archseer

If run is not async and is complete, just insert it via InsertFinishedRun
  core/services/pipeline/runner.go
Owners: @spooktheducks, @connorwstein, @archseer
