Repository smartcontractkit/chainlink, changes with the owners that CODEOWNERS names for each.
All owners: @pinebit, @samsondav, @prashantkumar1982, @jmank88, @connorwstein, @spooktheducks, @jkongie, @PiotrTrzpil, @archseer, @smartcontractkit/keepers, @RyanRHall, @makramkd, @DeividasK, @alexroan, @se3000, @kalverra, @tateexon, @skudasov, @anieeg, @chainchad, @HenryNguyen5, @javuto, @smartcontractkit/prodsec-public, @dwightjl

CODEOWNERS:

# Chains
/core/chains/evm/headtracker @pinebit @samsondav @prashantkumar1982
/core/chains/evm/log @jmank88 @prashantkumar1982 @connorwstein
/core/chains/evm @samsondav @prashantkumar1982
/core/chains/terra @connorwstein @jmank88

# Services
/core/services/cron @spooktheducks @samsondav
/core/services/directrequest @spooktheducks @connorwstein @samsondav
/core/services/feeds @jkongie
/core/services/fluxmonitorv2 @jkongie @PiotrTrzpil @spooktheducks @connorwstein
/core/services/health @archseer @samsondav
/core/services/job @spooktheducks @connorwstein @archseer
/core/services/keeper @smartcontractkit/keepers
/core/services/keystore @RyanRHall
/core/services/offchainreporting @spooktheducks @connorwstein @samsondav @archseer
/core/services/periodicbackup @PiotrTrzpil @samsondav
/core/services/pg @samsondav
/core/services/pipeline @spooktheducks @connorwstein @archseer @prashantkumar1982
/core/services/synchronization
/core/services/telemetry
/core/services/vrf @connorwstein @makramkd
/core/services/webhook @spooktheducks @archseer

# API
/core/web @jkongie

# CLI
/core/cmd @jkongie

# UI
/operator-ui/ @DeividasK @jkongie

# Contracts
/contracts/ @alexroan @se3000 @connorwstein
/contracts/**/*Keeper* @smartcontractkit/keepers
/contracts/**/*Upkeep* @smartcontractkit/keepers

# Tests
/integration-tests/ @kalverra @tateexon @skudasov @anieeg
/integration-tests/**/*keeper* @smartcontractkit/keepers

# Misc
/core/store @archseer @samsondav @jmank88
/core/chains @samsondav
/core/logger @jmank88
/core/internal @samsondav @jmank88 @archseer

# CI/CD
/.github/** @alexroan @chainchad @HenryNguyen5 @javuto @jkongie @jmank88 @samsondav
/.github/workflows/integration-tests.yml @kalverra @tateexon @skudasov @anieeg
/.github/workflows/integration-chaos-tests.yml @kalverra @tateexon @skudasov @anieeg
/.github/workflows/performance-tests.yml @kalverra @tateexon @skudasov @anieeg
/.github/workflows/build-custom.yml @kalverra @tateexon @skudasov @anieeg

# Dependencies
contracts/scripts/requirements.txt @smartcontractkit/prodsec-public
.tool-versions @smartcontractkit/prodsec-public
.nvmrc @smartcontractkit/prodsec-public
package.json @smartcontractkit/prodsec-public
yarn.lock @smartcontractkit/prodsec-public
go.mod @smartcontractkit/prodsec-public
go.sum @smartcontractkit/prodsec-public
integration-tests/go.mod @smartcontractkit/prodsec-public
integration-tests/go.sum @smartcontractkit/prodsec-public
flake.nix @smartcontractkit/prodsec-public
flake.lock @smartcontractkit/prodsec-public

# Config
./core/config @samsondav @jmank88
./docs/CONFIG.md @samsondav @jmank88 @dwightjl
./internal/config/docs.toml @samsondav @jmank88 @dwightjl

Rename migration after merge
  core/store/migrate/migrations/0131_add_multi_user.sql
Owners: @archseer, @samsondav, @jmank88

Add missing logger after merge
  core/scripts/ocr2vrf/setup_dkg.go
Owners: none

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Owners: none

Addressed PR feedback
  core/chains/evm/config/config_test.go
  core/services/chainlink/testdata/dump/evm-overrides.json
  core/services/pipeline/common_test.go
  docs/CONFIG.md
  internal/config/docs.toml
Owners: @samsondav, @spooktheducks, @connorwstein, @archseer, @prashantkumar1982

Make sessions/orm.go use pg.Q, update tests and existing transactions (previously importing the library and using pure function)
  core/cmd/client_test.go
  core/cmd/local_client_test.go
  core/services/chainlink/application.go
  core/sessions/orm.go
  core/sessions/orm_test.go
  core/sessions/reaper_test.go
Owners: @jkongie

Change compile script to use 8.15 compiler for VRFV2Wrapper contracts, to match gauntlet.
  contracts/scripts/native_solc_compile_all
  core/internal/gethwrappers/generated/vrfv2_wrapper/vrfv2_wrapper.go
  core/internal/gethwrappers/generated/vrfv2_wrapper_consumer_example/vrfv2_wrapper_consumer_example.go
  core/internal/gethwrappers/generation/generated-wrapper-dependency-versions-do-not-edit.txt
  core/internal/gethwrappers/go_generate.go
Owners: @alexroan, @se3000, @connorwstein, @samsondav, @jmank88, @archseer

tools/bin: remove p/parallel flags from tests
  tools/bin/go_core_race_tests
  tools/bin/go_core_tests
Owners: none

core/chains/solana/soltxm: TestTxm_Integration extend timeout to test deadline; core/internal/testutils: consolidate Context helpers
  core/chains/evm/client/erroring_node_test.go
  core/chains/evm/client/node_lifecycle_test.go
  core/chains/evm/client/null_client_test.go
  core/chains/evm/client/send_only_node_test.go
  core/chains/solana/soltxm/txm_test.go
  core/internal/testutils/testutils.go
  core/services/blockhashstore/delegate_test.go
Owners: @samsondav, @jmank88, @archseer

adjust default context
  core/internal/testutils/testutils.go
Owners: @samsondav, @jmank88, @archseer

Fixed boot panic due to empty keepers spec
  core/services/keeper/upkeep_executer.go
  core/services/keeper/validate.go
  core/services/pipeline/models.go
  core/services/pipeline/orm.go
  core/services/pipeline/orm_test.go
  core/services/pipeline/runner.go
  core/web/presenters/job_test.go
Owners: @smartcontractkit/keepers, @spooktheducks, @connorwstein, @archseer, @prashantkumar1982, @jkongie

Fixed boot panic due to empty keepers spec
  core/services/keeper/upkeep_executer.go
  core/services/keeper/validate.go
  core/services/pipeline/models.go
  core/services/pipeline/orm.go
  core/services/pipeline/orm_test.go
  core/services/pipeline/runner.go
  core/web/presenters/job_test.go
Owners: @smartcontractkit/keepers, @spooktheducks, @connorwstein, @archseer, @prashantkumar1982, @jkongie

Add OCR2VRF contract wrapper script for generation inside Chainlink repo.
  GNUmakefile
  contracts/scripts/native_solc_compile_all_ocr2vrf
  core/internal/gethwrappers/ocr2vrf/generated/dkg/dkg.go
  core/internal/gethwrappers/ocr2vrf/generated/vrf_beacon_coordinator/vrf_beacon_coordinator.go
  core/internal/gethwrappers/ocr2vrf/generation/generated-wrapper-dependency-versions-do-not-edit.txt
  core/internal/gethwrappers/ocr2vrf/go_generate.go
  core/scripts/ocr2vrf/util.go
Owners: @alexroan, @se3000, @connorwstein, @samsondav, @jmank88, @archseer

fix: log poller query
  core/chains/evm/logpoller/orm.go
  core/chains/evm/logpoller/orm_test.go
  core/services/ocr2/plugins/ocr2vrf/coordinator/coordinator.go
  core/services/ocr2/plugins/ocr2vrf/coordinator/interfaces.go
  core/services/ocr2/plugins/ocr2vrf/coordinator/orm.go
Owners: @samsondav

Attempting to use sendFunds again
  integration-tests/smoke/keeper_test.go
Owners: @smartcontractkit/keepers

Latest version
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/prodsec-public
