Repository smartcontractkit/chainlink, changes with the owners that CODEOWNERS names for each.
All owners: @samsondav, @archseer, @spooktheducks, @pinebit, @jmank88, @connorwstein, @j16r, @jkongie, @PiotrTrzpil, @RyanRHall, @prashantkumar1982, @DeividasK, @alexroan, @se3000, @kalverra, @smartcontractkit/prodsec-public

CODEOWNERS:

# Chains
/core/chains/evm/bulletprooftxmanager @samsondav @archseer
/core/chains/evm/client @spooktheducks @samsondav
/core/chains/evm/estimator @samsondav @archseer
/core/chains/evm/headtracker @pinebit @samsondav
/core/chains/evm/log @jmank88 @spooktheducks 
/core/chains/evm @samsondav
/core/chains/terra @connorwstein @jmank88

# Services
/core/services/cron @spooktheducks @samsondav
/core/services/directrequest @spooktheducks @j16r @connorwstein @samsondav
/core/services/feeds @jkongie
/core/services/fluxmonitorv2 @jkongie @PiotrTrzpil @spooktheducks @connorwstein
/core/services/health @archseer @samsondav
/core/services/job @spooktheducks @connorwstein @archseer
/core/services/keeper @RyanRHall @samsondav
/core/services/keystore @RyanRHall
/core/services/offchainreporting @spooktheducks @connorwstein @samsondav @archseer
/core/services/periodicbackup @PiotrTrzpil @samsondav
/core/services/pg @samsondav
/core/services/pipeline @spooktheducks @connorwstein @archseer @prashantkumar1982
/core/services/synchronization
/core/services/telemetry
/core/services/vrf @connorwstein
/core/services/webhook @spooktheducks @archseer

# API
/core/web @jkongie

# CLI
/core/cmd @jkongie

# UI
/operator-ui/ @DeividasK @jkongie

# Contracts
/contracts/ @alexroan @se3000 @connorwstein

# Tests
/integration-tests/ @kalverra

# Misc
/core/store @archseer @samsondav @jmank88
/core/chains @samsondav
/core/logger @jmank88
/core/internal @samsondav @jmank88 @archseer

# Dependencies
contracts/scripts/requirements.txt @smartcontractkit/prodsec-public
.tool-versions @smartcontractkit/prodsec-public
.nvmrc @smartcontractkit/prodsec-public
package.json @smartcontractkit/prodsec-public
yarn.lock @smartcontractkit/prodsec-public
go.mod @smartcontractkit/prodsec-public
go.sum @smartcontractkit/prodsec-public
flake.nix @smartcontractkit/prodsec-public
flake.lock @smartcontractkit/prodsec-public

Link running job to approved job proposal
  core/web/loader/getters.go
  core/web/loader/job.go
  core/web/loader/loader.go
  core/web/resolver/job_proposal.go
  core/web/schema/type/job_proposal.graphql
  operator_ui/src/screens/JobProposal/JobProposalCard.tsx
  operator_ui/src/screens/JobProposal/JobProposalView.tsx
Owners: @jkongie

add test for loader
  core/web/loader/getters.go
  core/web/loader/loader.go
  core/web/loader/loader_test.go
  core/web/resolver/job_proposal.go
Owners: @jkongie

update ui test
  operator_ui/src/screens/JobProposal/JobProposalCard.test.tsx
  operator_ui/src/screens/JobProposal/JobProposalCard.tsx
Owners: none

update error handling
  core/web/loader/getters.go
Owners: @jkongie

Link running job to approved job proposal (#6046)
  core/web/loader/getters.go
  core/web/loader/job.go
  core/web/loader/loader.go
  core/web/loader/loader_test.go
  core/web/resolver/job_proposal.go
  core/web/schema/type/job_proposal.graphql
  operator_ui/src/screens/JobProposal/JobProposalCard.test.tsx
  operator_ui/src/screens/JobProposal/JobProposalCard.tsx
  operator_ui/src/screens/JobProposal/JobProposalView.tsx
Owners: @jkongie

Link running job to approved job proposal (#6046)
  core/web/loader/getters.go
  core/web/loader/job.go
  core/web/loader/loader.go
  core/web/loader/loader_test.go
  core/web/resolver/job_proposal.go
  core/web/schema/type/job_proposal.graphql
  operator_ui/src/screens/JobProposal/JobProposalCard.test.tsx
  operator_ui/src/screens/JobProposal/JobProposalCard.tsx
  operator_ui/src/screens/JobProposal/JobProposalView.tsx
Owners: @jkongie

`synchronization/*` components to use `ServiceCtx` (#6074)
  core/services/synchronization/explorer_client.go
  core/services/synchronization/explorer_client_test.go
  core/services/synchronization/telemetry_ingress_batch_client.go
  core/services/synchronization/telemetry_ingress_batch_client_test.go
  core/services/synchronization/telemetry_ingress_client.go
  core/services/synchronization/telemetry_ingress_client_test.go
Owners: none

`synchronization/*` components to use `ServiceCtx` (#6074)
  core/services/synchronization/explorer_client.go
  core/services/synchronization/explorer_client_test.go
  core/services/synchronization/telemetry_ingress_batch_client.go
  core/services/synchronization/telemetry_ingress_batch_client_test.go
  core/services/synchronization/telemetry_ingress_client.go
  core/services/synchronization/telemetry_ingress_client_test.go
Owners: none

VRF: Add prometheus metrics to v1 and v2 (#6071)
  core/services/vrf/listener_v1.go
  core/services/vrf/listener_v2.go
  core/services/vrf/metrics.go
Owners: @connorwstein

VRF: Add prometheus metrics to v1 and v2 (#6071)
  core/services/vrf/listener_v1.go
  core/services/vrf/listener_v2.go
  core/services/vrf/metrics.go
Owners: @connorwstein

Filter github actions workflow runs by modified file paths
  .github/workflows/README.md
  .github/workflows/ci-core.yml
  .github/workflows/dependency-check-paths-ignore.yml
  .github/workflows/dependency-check.yml
  .github/workflows/golangci-lint-paths-ignore.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/operator-ui-paths-ignore.yml
  .github/workflows/operator-ui.yml
  .github/workflows/solidity-paths-ignore.yml
  .github/workflows/solidity.yml
Owners: none

Filter github actions workflow runs by modified file paths
  .github/workflows/README.md
  .github/workflows/ci-core.yml
  .github/workflows/dependency-check-paths-ignore.yml
  .github/workflows/dependency-check.yml
  .github/workflows/golangci-lint-paths-ignore.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/operator-ui-paths-ignore.yml
  .github/workflows/operator-ui.yml
  .github/workflows/solidity-paths-ignore.yml
  .github/workflows/solidity.yml
Owners: none

Contracts: DerivedPriceFeed updates (#6049)
  contracts/scripts/native_solc_compile_all
  contracts/src/v0.8/dev/DerivedPriceFeed.sol
  contracts/test/v0.8/dev/DerivedPriceFeed.test.ts
  core/internal/gethwrappers/generated/derived_price_feed_wrapper/derived_price_feed_wrapper.go
  core/internal/gethwrappers/generation/generated-wrapper-dependency-versions-do-not-edit.txt
  core/internal/gethwrappers/go_generate.go
Owners: @alexroan, @se3000, @connorwstein, @samsondav, @jmank88, @archseer

Contracts: DerivedPriceFeed updates (#6049)
  contracts/scripts/native_solc_compile_all
  contracts/src/v0.8/dev/DerivedPriceFeed.sol
  contracts/test/v0.8/dev/DerivedPriceFeed.test.ts
  core/internal/gethwrappers/generated/derived_price_feed_wrapper/derived_price_feed_wrapper.go
  core/internal/gethwrappers/generation/generated-wrapper-dependency-versions-do-not-edit.txt
  core/internal/gethwrappers/go_generate.go
Owners: @alexroan, @se3000, @connorwstein, @samsondav, @jmank88, @archseer
