Repository smartcontractkit/chainlink, changes with the owners that CODEOWNERS names for each.
All owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer, @alexroan, @DeividasK

CODEOWNERS:

/core/ @se3000 @RyanRHall @spooktheducks @samsondav @j16r @connorwstein @PiotrTrzpil @archseer
/evm-contracts/ @alexroan @se3000
/contracts/ @alexroan @se3000
/operator-ui/ @DeividasK

Switch back to the old test comparison
  core/services/pipeline/graph_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

pipeline: Add a test for multiple outputs
  core/services/pipeline/runner_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

pipeline: Drop SafeTx
  core/services/pipeline/common.go
  core/services/pipeline/helpers_test.go
  core/services/pipeline/runner.go
  core/services/pipeline/task.bridge.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Fix tests again
  core/services/vrf/delegate_test.go
  core/store/migrations/migrate_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

pipeline: Use a single loop for constructing tasks
  core/services/pipeline/graph.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

s/Tree/Graph/
  core/services/pipeline/graph.go
  core/services/pipeline/graph_test.go
  core/web/migrate_controller.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Fix tests again
  core/services/vrf/delegate_test.go
  core/store/migrations/migrate_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

pipeline: Temporarily set the scheduler contexts to TODO
  core/services/pipeline/runner.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Add a test for multiple outputs
  core/services/pipeline/runner_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

pipeline: Temporarily set the scheduler contexts to TODO
  core/services/pipeline/runner.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

pipeline: scheduler: Mark remaining jobs as timeouts on ctx.Done
  core/services/pipeline/common.go
  core/services/pipeline/scheduler.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Add a test for multiple outputs
  core/services/pipeline/runner_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

pipeline: scheduler: Mark remaining jobs as timeouts on ctx.Done
  core/services/pipeline/common.go
  core/services/pipeline/scheduler.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

hotfix head tracker prometheus metrics names (#4566)
  core/services/headtracker/head_listener.go
  docs/CHANGELOG.md
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

hotfix head tracker prometheus metrics names (#4566)
  core/services/headtracker/head_listener.go
  docs/CHANGELOG.md
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

hotfix head tracker prometheus metrics names (#4566)
  core/services/headtracker/head_listener.go
  docs/CHANGELOG.md
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

hotfix head tracker prometheus metrics names (#4566)
  core/services/headtracker/head_listener.go
  docs/CHANGELOG.md
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Use require to avoid panic at :271 on fail (#4563)
  core/cmd/remote_client_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Use require to avoid panic at :271 on fail (#4563)
  core/cmd/remote_client_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

FMv2 bugfix: remove scaling from min/max check (#4561)
  core/services/fluxmonitorv2/flux_monitor.go
  core/services/fluxmonitorv2/flux_monitor_test.go
  core/services/fluxmonitorv2/integrations_test.go
  core/services/fluxmonitorv2/orm_test.go
  core/services/fluxmonitorv2/submission_checker.go
  core/services/fluxmonitorv2/submission_checker_test.go
  core/services/fluxmonitorv2/validate_test.go
  core/services/job/models.go
  core/store/migrations/0039_remove_fmv2_precision.go
  core/testdata/testspecs/v2_specs.go
  core/testdata/tomlspecs/flux-monitor-spec.toml
  core/web/jobs_controller_test.go
  core/web/migrate_controller.go
  core/web/migrate_controller_test.go
  core/web/presenters/job.go
  core/web/presenters/job_test.go
  docs/CHANGELOG.md
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

FMv2 bugfix: remove scaling from min/max check (#4561)
  core/services/fluxmonitorv2/flux_monitor.go
  core/services/fluxmonitorv2/flux_monitor_test.go
  core/services/fluxmonitorv2/integrations_test.go
  core/services/fluxmonitorv2/orm_test.go
  core/services/fluxmonitorv2/submission_checker.go
  core/services/fluxmonitorv2/submission_checker_test.go
  core/services/fluxmonitorv2/validate_test.go
  core/services/job/models.go
  core/store/migrations/0039_remove_fmv2_precision.go
  core/testdata/testspecs/v2_specs.go
  core/testdata/tomlspecs/flux-monitor-spec.toml
  core/web/jobs_controller_test.go
  core/web/migrate_controller.go
  core/web/migrate_controller_test.go
  core/web/presenters/job.go
  core/web/presenters/job_test.go
  docs/CHANGELOG.md
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Fix flaking keeper test (Test_UpkeepExecuter_PerformsUpkeep_Happy)
  core/services/keeper/upkeep_executer_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Fix flaking keeper test (Test_UpkeepExecuter_PerformsUpkeep_Happy)
  core/services/keeper/upkeep_executer_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Fix failing integration test
  tools/ci-ts/tests/ethers/FluxAggregator.d.ts
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.d.ts
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.d.ts.map
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.js
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.ts
  tools/ci-ts/tests/ethers/index.d.ts
  tools/ci-ts/tests/flux-monitor.test.ts
  tools/docker/compose
Owners: none

Fix failing integration test
  tools/ci-ts/tests/ethers/FluxAggregator.d.ts
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.d.ts
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.d.ts.map
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.js
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.ts
  tools/ci-ts/tests/ethers/index.d.ts
  tools/ci-ts/tests/flux-monitor.test.ts
  tools/docker/compose
Owners: none

we can fulfill a proof in v0.8 woo
  contracts/src/v0.8/dev/VRF.sol
  contracts/src/v0.8/dev/VRFCoordinatorV2.sol
  contracts/src/v0.8/tests/VRFConsumerV2.sol
  contracts/src/v0.8/tests/VRFTestHelper.sol
  contracts/test/v0.8/vrf/VRFCoordinatorV2.test.ts
  core/internal/gethwrappers/generated/solidity_vrf_coordinator_interface/solidity_vrf_coordinator_interface.go
  core/internal/gethwrappers/generated/vrf_consumer_v2/vrf_consumer_v2.go
  core/internal/gethwrappers/generated/vrf_coordinator_v2/vrf_coordinator_v2.go
  core/internal/gethwrappers/generation/compile_contracts.sh
  core/internal/gethwrappers/generation/generated-wrapper-dependency-versions-do-not-edit.txt
  core/internal/gethwrappers/go_generate.go
  core/services/bulletprooftxmanager/eth_confirmer.go
  core/services/vrf/delegate.go
  core/services/vrf/integration_v2_test.go
Owners: @alexroan, @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Integration with link/gas contracts working
  contracts/src/v0.8/dev/VRFCoordinatorV2.sol
  contracts/test/v0.8/vrf/VRFCoordinatorV2.test.ts
  core/internal/gethwrappers/generated/solidity_vrf_coordinator_interface/solidity_vrf_coordinator_interface.go
  core/internal/gethwrappers/generated/vrf_coordinator_v2/vrf_coordinator_v2.go
  core/internal/gethwrappers/generation/generated-wrapper-dependency-versions-do-not-edit.txt
  core/internal/gethwrappers/go_generate.go
  core/services/vrf/delegate.go
  core/services/vrf/integration_test.go
  core/services/vrf/integration_v2_test.go
Owners: @alexroan, @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Cleanup export file in vrf key test
  core/cmd/vrf_keys_commands_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Cleanup export file in vrf key test
  core/cmd/vrf_keys_commands_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer
