Repository smartcontractkit/chainlink, changes with the owners that CODEOWNERS names for each.
All owners: @samsondav, @jmank88, @smartcontractkit/integrations, @prashantkumar1982, @pinebit, @connorwstein, @reductionista, @archseer, @cfal, @jkongie, @PiotrTrzpil, @RyanRHall, @krehermann, @sdrug, @martin-cll, @smartcontractkit/vrf-team, @smartcontractkit/keepers, @smartcontractkit/functions, @bolekk, @KuphJr, @justinkaseman, @DeividasK, @RensR, @austinborn, @Fletch153, @simsonraj, @essamhassan, @smartcontractkit/test-tooling-team, @chainchad, @javuto, @smartcontractkit/prodsec-public, @dwightjl

CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

# Misc
/core/store @samsondav @jmank88
/core/chains @samsondav
/core/logger @jmank88
/core/internal @samsondav @jmank88

# Chains
/common @smartcontractkit/integrations
/core/chains/evm @samsondav @prashantkumar1982
/core/chains/evm/headtracker @pinebit @samsondav @prashantkumar1982
/core/chains/evm/client @samsondav @prashantkumar1982
/core/chains/evm/log @jmank88 @prashantkumar1982 @connorwstein
/core/chains/evm/logpoller @reductionista @connorwstein
/core/chains/cosmos @archseer @cfal

# Services
/core/services/cron @samsondav
/core/services/directrequest @connorwstein @samsondav
/core/services/feeds @jkongie
/core/services/fluxmonitorv2 @jkongie @PiotrTrzpil @connorwstein
/core/services/health @samsondav
/core/services/job @connorwstein
/core/services/keystore @RyanRHall
/core/services/ocr* @connorwstein @samsondav
/core/services/ocr2 @jmank88 @krehermann
/core/services/periodicbackup @PiotrTrzpil @samsondav
/core/services/pg @samsondav
/core/services/pipeline @connorwstein @prashantkumar1982
/core/services/synchronization
/core/services/telemetry
/core/services/relay/evm/mercury @samsondav @sdrug @martin-cll

# VRF-related services
/core/services/vrf @smartcontractkit/vrf-team
/core/services/blockhashstore @smartcontractkit/vrf-team
/core/services/blockheaderfeeder @smartcontractkit/vrf-team
/core/services/pipeline/task.vrf.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2plus.go @smartcontractkit/vrf-team
/core/services/ocr2/plugins/dkg @smartcontractkit/vrf-team
/core/services/ocr2/plugins/ocr2vrf @smartcontractkit/vrf-team

# Keeper/Automation-related services
/core/services/keeper @smartcontractkit/keepers
/core/services/ocr2/plugins/ocr2keeper @smartcontractkit/keepers

/core/services/webhook @samsondav

# Chainlink Functions
core/services/functions @smartcontractkit/functions
core/services/ocr2/plugins/functions @smartcontractkit/functions
core/services/s4 @pinebit @bolekk
core/service/ocr2/plugins/s4 @pinebit @bolekk
core/services/ocr2/plugins/threshold @KuphJr @bolekk
core/services/relay/evm/functions.go @bolekk @justinkaseman @KuphJr
core/services/relay/evm/functions @bolekk @justinkaseman @KuphJr
core/scripts/functions @smartcontractkit/functions
core/scripts/gateway @bolekk @pinebit

# API
/core/web @jkongie

# CLI
/core/cmd @jkongie @jmank88 @samsondav

# UI
/operator-ui/ @DeividasK @jkongie

# Contracts
/contracts/ @RensR

# First we match on project names to catch files like the compilation scripts,
# gas snapshots and other files not places in the project directories.
# This could give some false positives, so afterwards we match on the project directories
# to ensure the entire directory is always owned by the correct team.

/contracts/**/*shared* @RensR
/contracts/**/*keeper* @smartcontractkit/keepers
/contracts/**/*upkeep* @smartcontractkit/keepers
/contracts/**/*automation* @smartcontractkit/keepers
/contracts/**/*functions* @smartcontractkit/functions
/contracts/**/*llo-feeds* @austinborn @Fletch153
/contracts/**/*vrf* @smartcontractkit/vrf-team
/contracts/**/*l2ep* @simsonraj
/contracts/**/*operatorforwarder* @essamhassan

/contracts/src/v0.8/automation @smartcontractkit/keepers
/contracts/src/v0.8/functions @smartcontractkit/functions
# TODO: interfaces folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/l2ep @simsonraj
/contracts/src/v0.8/llo-feeds @austinborn @Fletch153
# TODO: mocks folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/operatorforwarder @essamhassan
/contracts/src/v0.8/shared @RensR
# TODO: tests folder, folder should be removed and files moved to the correct folders
# TODO: transmission folder, owner should be found
/contracts/src/v0.8/vrf @smartcontractkit/vrf-team



# At the end, match any files missed by the patterns above
/contracts/scripts/native_solc_compile_all_events_mock @smartcontractkit/functions


# Tests
/integration-tests/ @smartcontractkit/test-tooling-team
/integration-tests/**/*keeper* @smartcontractkit/keepers
/integration-tests/**/*automation* @smartcontractkit/keepers

# CI/CD
/.github/** @chainchad @javuto @jkongie @jmank88 @samsondav
/.github/workflows/integration-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/integration-chaos-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/integration-tests-publish.yml @smartcontractkit/test-tooling-team
/.github/workflows/performance-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/automation-ondemand-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-benchmark-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-load-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-nightly-tests.yml @smartcontractkit/keepers

/core/chainlink.Dockerfile @smartcontractkit/prodsec-public

# Dependencies
contracts/scripts/requirements.txt @smartcontractkit/prodsec-public
.tool-versions @smartcontractkit/prodsec-public
.nvmrc @smartcontractkit/prodsec-public
contracts/package.json @smartcontractkit/prodsec-public
contracts/pnpm.lock @smartcontractkit/prodsec-public
go.mod @smartcontractkit/prodsec-public
go.sum @smartcontractkit/prodsec-public
integration-tests/go.mod @smartcontractkit/prodsec-public
integration-tests/go.sum @smartcontractkit/prodsec-public
flake.nix @smartcontractkit/prodsec-public
flake.lock @smartcontractkit/prodsec-public

# Config
./core/config @samsondav @jmank88
./docs/CONFIG.md @samsondav @jmank88 @dwightjl
./internal/config/docs.toml @samsondav @jmank88 @dwightjl

# LOOP Plugins
/plugins @jmank88 @krehermann

refactor
  .github/workflows/ci-chaincli.yml
  .github/workflows/ci-scripts.yml
Owners: @chainchad, @javuto, @jkongie, @jmank88, @samsondav

feat: add liquidity balancer specs table
  core/services/job/models.go
  core/store/migrate/migrations/0213_liquidity_balancer_specs.sql
Owners: @connorwstein, @samsondav, @jmank88

VRF-798: fix runtime issue
  integration-tests/load/vrfv2/vrfv2_test.go
  integration-tests/load/vrfv2plus/vrfv2plus_test.go
Owners: @smartcontractkit/test-tooling-team

added fees
  core/chains/evm/config/toml/defaults/Bttc_Testnet.toml
  integration-tests/soak/ocr_test.go
Owners: @samsondav, @prashantkumar1982, @smartcontractkit/test-tooling-team

Make Most of it Free
  .github/workflows/integration-tests.yml
  integration-tests/smoke/automation_test.go_test_list.json
  integration-tests/smoke/keeper_test.go_test_list.json
Owners: @smartcontractkit/test-tooling-team, @smartcontractkit/keepers

bump common; use SugaredLogger methods (#11556)
  common/client/multi_node.go
  common/client/node_lifecycle.go
  common/headtracker/head_tracker.go
  common/txmgr/broadcaster.go
  common/txmgr/confirmer.go
  common/txmgr/resender.go
  common/txmgr/txmgr.go
  common/txmgr/types/client.go
  common/txmgr/types/tx.go
  core/chains/evm/client/chain_client.go
  core/chains/evm/client/client.go
  core/chains/evm/client/errors.go
  core/chains/evm/client/helpers_test.go
  core/chains/evm/client/node.go
  core/chains/evm/client/node_lifecycle.go
  core/chains/evm/client/pool.go
  core/chains/evm/client/rpc_client.go
  core/chains/evm/gas/block_history_estimator.go
  core/chains/evm/gas/rollups/l1_gas_price_oracle.go
  core/chains/evm/log/helpers_test.go
  core/chains/evm/log/registrations.go
  core/chains/evm/logpoller/log_poller.go
  core/chains/evm/txmgr/broadcaster_test.go
  core/chains/evm/txmgr/client.go
  core/chains/evm/txmgr/evm_tx_store.go
  core/chains/evm/txmgr/transmitchecker.go
  core/chains/evm/txmgr/transmitchecker_test.go
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/pg/q.go
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/integrations, @samsondav, @prashantkumar1982, @jmank88, @connorwstein, @reductionista, @smartcontractkit/prodsec-public

bump common; use SugaredLogger methods (#11556)
  common/client/multi_node.go
  common/client/node_lifecycle.go
  common/headtracker/head_tracker.go
  common/txmgr/broadcaster.go
  common/txmgr/confirmer.go
  common/txmgr/resender.go
  common/txmgr/txmgr.go
  common/txmgr/types/client.go
  common/txmgr/types/tx.go
  core/chains/evm/client/chain_client.go
  core/chains/evm/client/client.go
  core/chains/evm/client/errors.go
  core/chains/evm/client/helpers_test.go
  core/chains/evm/client/node.go
  core/chains/evm/client/node_lifecycle.go
  core/chains/evm/client/pool.go
  core/chains/evm/client/rpc_client.go
  core/chains/evm/gas/block_history_estimator.go
  core/chains/evm/gas/rollups/l1_gas_price_oracle.go
  core/chains/evm/log/helpers_test.go
  core/chains/evm/log/registrations.go
  core/chains/evm/logpoller/log_poller.go
  core/chains/evm/txmgr/broadcaster_test.go
  core/chains/evm/txmgr/client.go
  core/chains/evm/txmgr/evm_tx_store.go
  core/chains/evm/txmgr/transmitchecker.go
  core/chains/evm/txmgr/transmitchecker_test.go
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/pg/q.go
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/integrations, @samsondav, @prashantkumar1982, @jmank88, @connorwstein, @reductionista, @smartcontractkit/prodsec-public

VRF-798: PR comments
  integration-tests/load/vrfv2/vrfv2_test.go
  integration-tests/load/vrfv2plus/vrfv2plus_test.go
Owners: @smartcontractkit/test-tooling-team

mode blockhistory
  core/chains/evm/config/toml/defaults/Bttc_Testnet.toml
  integration-tests/soak/ocr_test.go
Owners: @samsondav, @prashantkumar1982, @smartcontractkit/test-tooling-team

VRF-798: fix "nonce too low" in load test setup when creating a subsc… (#11560)
  integration-tests/load/vrfv2/vrfv2_test.go
  integration-tests/load/vrfv2plus/vrfv2plus_test.go
Owners: @smartcontractkit/test-tooling-team

VRF-798: fix "nonce too low" in load test setup when creating a subsc… (#11560)
  integration-tests/load/vrfv2/vrfv2_test.go
  integration-tests/load/vrfv2plus/vrfv2plus_test.go
Owners: @smartcontractkit/test-tooling-team

Remove extra log msg
  integration-tests/universal/log_poller/scenarios.go
Owners: @smartcontractkit/test-tooling-team

added ether gas
  core/chains/evm/config/toml/defaults/Bttc_Testnet.toml
Owners: @samsondav, @prashantkumar1982

Add empty file for testing CI
  test.txt
Owners: none

modified price default
  core/chains/evm/config/toml/defaults/Bttc_Testnet.toml
Owners: @samsondav, @prashantkumar1982

offchain changes
  core/scripts/vrfv2plus/testnet/main.go
  core/scripts/vrfv2plus/testnet/v2plusscripts/super_scripts.go
  core/scripts/vrfv2plus/testnet/v2plusscripts/util.go
  core/services/vrf/v2/coordinator_v2x_interface.go
  core/services/vrf/v2/integration_helpers_test.go
  core/services/vrf/v2/integration_v2_plus_test.go
  core/services/vrf/v2/integration_v2_test.go
Owners: @smartcontractkit/vrf-team

feat: add liquidity balancer specs table (#11564)
  core/services/job/models.go
  core/store/migrate/migrations/0213_liquidity_balancer_specs.sql
Owners: @connorwstein, @samsondav, @jmank88

feat: add liquidity balancer specs table (#11564)
  core/services/job/models.go
  core/store/migrate/migrations/0213_liquidity_balancer_specs.sql
Owners: @connorwstein, @samsondav, @jmank88

Auto 8087 modular streams (#11489)
  core/scripts/chaincli/handler/debug.go
  core/scripts/chaincli/handler/mercury_lookup_handler.go
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/streams/streams.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/streams/streams_test.go
Owners: @smartcontractkit/prodsec-public, @smartcontractkit/keepers

Auto 8087 modular streams (#11489)
  core/scripts/chaincli/handler/debug.go
  core/scripts/chaincli/handler/mercury_lookup_handler.go
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/streams/streams.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/streams/streams_test.go
Owners: @smartcontractkit/prodsec-public, @smartcontractkit/keepers

Disable the flag for V2+
  core/services/vrf/delegate.go
Owners: @smartcontractkit/vrf-team

convert gwei to mwei
  core/chains/evm/config/toml/defaults/Bttc_Testnet.toml
Owners: @samsondav, @prashantkumar1982

update go mod
  core/scripts/go.mod
  core/scripts/go.sum
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/prodsec-public

Fix address type and start the chain reader
  core/scripts/go.mod
  core/scripts/go.sum
  core/services/relay/evm/chain_reader_test.go
  core/services/relay/evm/codec.go
  core/services/relay/evm/codec_entry.go
  core/services/relay/evm/codec_entry_test.go
  core/services/relay/evm/codec_test.go
  core/services/relay/evm/encoder.go
  core/services/relay/evm/evm.go
  core/services/relay/evm/testfiles/chain_reader_test_contract.sol
  core/services/relay/evm/testfiles/chain_reader_test_contract_gen.abi
  core/services/relay/evm/testfiles/chain_reader_test_contract_gen.bin
  core/services/relay/evm/testfiles/chain_reader_test_contract_gen.go
  core/services/relay/evm/types/abi_types.go
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/prodsec-public

WIP#2
  integration-tests/benchmark/keeper_test.go
  integration-tests/chaos/automation_chaos_test.go
  integration-tests/chaos/ocr2vrf_chaos_test.go
  integration-tests/chaos/ocr_chaos_test.go
  integration-tests/docker/test_env/test_env_builder.go
  integration-tests/load/automationv2_1/automationv2_1_test.go
  integration-tests/load/functions/setup.go
  integration-tests/performance/cron_test.go
  integration-tests/performance/directrequest_test.go
  integration-tests/performance/flux_test.go
  integration-tests/performance/keeper_test.go
  integration-tests/performance/ocr_test.go
  integration-tests/performance/vrf_test.go
  integration-tests/reorg/automation_reorg_test.go
  integration-tests/reorg/reorg_test.go
  integration-tests/smoke/automation_test.go
  integration-tests/smoke/ocr2vrf_test.go
  integration-tests/testconfig/automation/config.go
  integration-tests/testconfig/default.toml
  integration-tests/testconfig/functions/config.go
  integration-tests/testconfig/keeper/config.go
  integration-tests/testconfig/logpoller/config.go
  integration-tests/testconfig/ocr/ocr.go
  integration-tests/testconfig/testconfig.go
  integration-tests/testconfig/vrf/config.go
  integration-tests/testconfig/vrfv2/config.go
  integration-tests/testconfig/vrfv2plus/config.go
  integration-tests/testsetups/ocr.go
  integration-tests/universal/log_poller/helpers.go
Owners: @smartcontractkit/keepers, @smartcontractkit/test-tooling-team

Fix type and version error paths (#376)
  core/services/ocr2/plugins/ccip/config/type_and_version.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/commit_store_reader_test.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/factory/commit_store.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/factory/offramp.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/factory/onramp.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/factory/price_registry.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/offramp_reader_test.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/onramp_reader_test.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/price_registry_reader_test.go
Owners: @jmank88, @krehermann

Fix type and version error paths (#376)
  core/services/ocr2/plugins/ccip/config/type_and_version.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/commit_store_reader_test.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/factory/commit_store.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/factory/offramp.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/factory/onramp.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/factory/price_registry.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/offramp_reader_test.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/onramp_reader_test.go
  core/services/ocr2/plugins/ccip/internal/ccipdata/price_registry_reader_test.go
Owners: @jmank88, @krehermann

added new info
  core/chains/evm/config/toml/defaults/Bttc_Testnet.toml
  integration-tests/contracts/contract_deployer.go
Owners: @samsondav, @prashantkumar1982, @smartcontractkit/test-tooling-team

Adds MAKE Command for Building Plugin Image
  integration-tests/Makefile
Owners: @smartcontractkit/test-tooling-team

fix integration tests
  integration-tests/actions/vrfv2plus/vrfv2plus_steps.go
  integration-tests/contracts/contract_vrf_models.go
  integration-tests/contracts/ethereum_vrfv2plus_contracts.go
  integration-tests/smoke/vrfv2plus_test.go
Owners: @smartcontractkit/test-tooling-team

update
  integration-tests/contracts/contract_deployer.go
Owners: @smartcontractkit/test-tooling-team

refactor golangci-lint build binary step
  .github/actions/golangci-lint/action.yml
Owners: @chainchad, @javuto, @jkongie, @jmank88, @samsondav

Adds MAKE Command for Building Plugin Image (#11567)
  integration-tests/Makefile
Owners: @smartcontractkit/test-tooling-team

Adds MAKE Command for Building Plugin Image (#11567)
  integration-tests/Makefile
Owners: @smartcontractkit/test-tooling-team

fix integration tests
  integration-tests/load/vrfv2plus/vrfv2plus_test.go
  integration-tests/smoke/vrfv2plus_test.go
Owners: @smartcontractkit/test-tooling-team

Refactor encoding.Packer to have Mercury control its own interface and function implementations
  core/scripts/chaincli/handler/debug.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/encoding/interface.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/encoding/packer.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/encoding/packer_test.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/mercury.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/mercury_test.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/streams/streams.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/mercury/streams/streams_test.go
  core/services/ocr2/plugins/ocr2keeper/evmregistry/v21/registry.go
Owners: @smartcontractkit/keepers

Add smoke test for chain reader and codec
  core/services/job/models.go
  core/services/relay/evm/chain_reader.go
  core/services/relay/evm/chain_reader_test.go
  core/services/relay/evm/codec.go
  core/services/relay/evm/codec_entry.go
  core/services/relay/evm/codec_entry_test.go
  core/services/relay/evm/decoder.go
  core/services/relay/evm/encoder.go
  core/services/relay/evm/evm.go
  core/services/relay/evm/parsed_types.go
  core/services/relay/evm/testfiles/chain_reader_test_contract.sol
  core/services/relay/evm/testfiles/chain_reader_test_contract_gen.abi
  core/services/relay/evm/testfiles/chain_reader_test_contract_gen.bin
  core/services/relay/evm/testfiles/chain_reader_test_contract_gen.go
  core/services/relay/evm/types/abi_types.go
  integration-tests/actions/ocr2_helpers_local.go
  integration-tests/client/chainlink_models.go
  integration-tests/smoke/chain_reader_and_codec_test.go
  integration-tests/smoke/forwarders_ocr2_test.go
  integration-tests/smoke/ocr2_test.go
Owners: @connorwstein, @smartcontractkit/test-tooling-team

Makefile Oversight
  integration-tests/Makefile
Owners: @smartcontractkit/test-tooling-team

add ubig pkg
  core/scripts/functions/src/fetching.go
Owners: @smartcontractkit/functions

Use the AutomationProvider
  core/services/ocr2/delegate.go
  core/services/ocr2/plugins/ocr2keeper/util.go
  core/services/relay/evm/evm.go
  core/services/relay/relay.go
  core/services/relay/relay_test.go
Owners: @jmank88, @krehermann, @smartcontractkit/keepers
