Repository smartcontractkit/chainlink, changes with the owners that CODEOWNERS names for each.
All owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer, @alexroan, @DeividasK

Create wip.yml
  .github/workflows/wip.yml
Owners: none

Update wip.yml
  .github/workflows/wip.yml
Owners: none

Update wip.yml
  .github/workflows/wip.yml
Owners: none

JSON parse tasks for FMv2 auto-migrated jobs (#4533)
  core/web/migrate_controller.go
  core/web/migrate_controller_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

JSON parse tasks for FMv2 auto-migrated jobs (#4533)
  core/web/migrate_controller.go
  core/web/migrate_controller_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Self-review and testing
  core/cmd/app.go
  core/cmd/local_client.go
  core/cmd/vrf_keys_commands.go
  core/services/keystore/vrf_test.go
  core/services/vrf/integration_test.go
  docs/CHANGELOG.md
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Self-review and testing
  core/cmd/app.go
  core/cmd/local_client.go
  core/cmd/vrf_keys_commands.go
  core/services/keystore/vrf_test.go
  core/services/vrf/integration_test.go
  docs/CHANGELOG.md
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Cleanup
  core/cmd/vrfkey1
  core/web/presenters/vrf_key.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Cleanup
  core/cmd/vrfkey1
  core/web/presenters/vrf_key.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Moved helper files to subdirectory
  contracts/test/test-helpers/debug.ts
  contracts/test/test-helpers/helpers.ts
  contracts/test/test-helpers/matchers.ts
  contracts/test/test-helpers/oracle.ts
  contracts/test/test-helpers/setup.ts
  contracts/test/v0.6/AggregatorFacade.test.ts
  contracts/test/v0.6/BasicConsumer.test.ts
  contracts/test/v0.6/BlockhashStore.test.ts
  contracts/test/v0.6/CheckedMath.test.ts
  contracts/test/v0.6/DeviationFlaggingValidator.test.ts
  contracts/test/v0.6/Flags.test.ts
  contracts/test/v0.6/FluxAggregator.test.ts
  contracts/test/v0.6/Median.test.ts
  contracts/test/v0.6/Owned.test.ts
  contracts/test/v0.6/SignedSafeMath.test.ts
  contracts/test/v0.6/SimpleReadAccessController.test.ts
  contracts/test/v0.6/SimpleWriteAccessController.test.ts
  contracts/test/v0.6/VRFD20.test.ts
  contracts/test/v0.7/AggregatorProxy.test.ts
  contracts/test/v0.7/AuthorizedForwarder.test.ts
  contracts/test/v0.7/CompoundPriceFlaggingValidator.test.ts
  contracts/test/v0.7/ConfirmedOwner.test.ts
  contracts/test/v0.7/Operator.test.ts
  contracts/test/v0.7/OperatorFactory.test.ts
  contracts/test/v0.7/StalenessFlaggingValidator.test.ts
  contracts/test/v0.7/gasUsage.test.ts
  contracts/test/v0.8/ValidatorProxy.test.ts
Owners: @alexroan, @se3000

Moved helper files to subdirectory
  contracts/test/test-helpers/debug.ts
  contracts/test/test-helpers/helpers.ts
  contracts/test/test-helpers/matchers.ts
  contracts/test/test-helpers/oracle.ts
  contracts/test/test-helpers/setup.ts
  contracts/test/v0.6/AggregatorFacade.test.ts
  contracts/test/v0.6/BasicConsumer.test.ts
  contracts/test/v0.6/BlockhashStore.test.ts
  contracts/test/v0.6/CheckedMath.test.ts
  contracts/test/v0.6/DeviationFlaggingValidator.test.ts
  contracts/test/v0.6/Flags.test.ts
  contracts/test/v0.6/FluxAggregator.test.ts
  contracts/test/v0.6/Median.test.ts
  contracts/test/v0.6/Owned.test.ts
  contracts/test/v0.6/SignedSafeMath.test.ts
  contracts/test/v0.6/SimpleReadAccessController.test.ts
  contracts/test/v0.6/SimpleWriteAccessController.test.ts
  contracts/test/v0.6/VRFD20.test.ts
  contracts/test/v0.7/AggregatorProxy.test.ts
  contracts/test/v0.7/AuthorizedForwarder.test.ts
  contracts/test/v0.7/CompoundPriceFlaggingValidator.test.ts
  contracts/test/v0.7/ConfirmedOwner.test.ts
  contracts/test/v0.7/Operator.test.ts
  contracts/test/v0.7/OperatorFactory.test.ts
  contracts/test/v0.7/StalenessFlaggingValidator.test.ts
  contracts/test/v0.7/gasUsage.test.ts
  contracts/test/v0.8/ValidatorProxy.test.ts
Owners: @alexroan, @se3000

JSON parse tasks for FMv2 auto-migrated jobs (#4533)
  core/web/migrate_controller.go
  core/web/migrate_controller_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

JSON parse tasks for FMv2 auto-migrated jobs (#4533)
  core/web/migrate_controller.go
  core/web/migrate_controller_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Reintroduce flux-monitor integration test
  .eslintignore
  contracts/CHANGELOG.md
  contracts/README.md
  contracts/test/v0.7/Operator.test.ts
  tools/ci-ts/tests/ethers/FluxAggregator.d.ts
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.d.ts
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.d.ts.map
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.js
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.ts
  tools/ci-ts/tests/ethers/index.d.ts
  tools/ci-ts/tests/flux-monitor.test.ts
Owners: @alexroan, @se3000

Reintroduce flux-monitor integration test
  .eslintignore
  contracts/CHANGELOG.md
  contracts/README.md
  contracts/test/v0.7/Operator.test.ts
  tools/ci-ts/tests/ethers/FluxAggregator.d.ts
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.d.ts
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.d.ts.map
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.js
  tools/ci-ts/tests/ethers/factories/FluxAggregator__factory.ts
  tools/ci-ts/tests/ethers/index.d.ts
  tools/ci-ts/tests/flux-monitor.test.ts
Owners: @alexroan, @se3000

Fix duplicate tasks ui crash (#4521)
  operator_ui/src/pages/Jobs/New.tsx
  operator_ui/src/pages/Jobs/utils.test.tsx
  operator_ui/src/pages/Jobs/utils.ts
Owners: none

Fix duplicate tasks ui crash (#4521)
  operator_ui/src/pages/Jobs/New.tsx
  operator_ui/src/pages/Jobs/utils.test.tsx
  operator_ui/src/pages/Jobs/utils.ts
Owners: none

Use Golang CI Lint to replace golang/static CI checks
  .github/workflows/golangci-lint.yml
  .golangci.yml
  core/cmd/prompter.go
  core/internal/cltest/cltest.go
  core/internal/cltest/factories.go
  core/internal/cltest/mocks.go
  core/services/keystore/csa.go
  core/services/pipeline/runner.go
  core/services/scheduler.go
  core/store/models/log_events.go
  core/store/orm/config.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Use Golang CI Lint to replace golang/static CI checks
  .github/workflows/golangci-lint.yml
  .golangci.yml
  core/cmd/prompter.go
  core/internal/cltest/cltest.go
  core/internal/cltest/factories.go
  core/internal/cltest/mocks.go
  core/services/keystore/csa.go
  core/services/pipeline/runner.go
  core/services/scheduler.go
  core/store/models/log_events.go
  core/store/orm/config.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

remove precision
  core/services/fluxmonitorv2/flux_monitor.go
  core/services/fluxmonitorv2/flux_monitor_test.go
  core/services/fluxmonitorv2/integrations_test.go
  core/services/fluxmonitorv2/orm_test.go
  core/services/fluxmonitorv2/submission_checker.go
  core/services/fluxmonitorv2/submission_checker_test.go
  core/services/fluxmonitorv2/validate_test.go
  core/services/job/models.go
  core/store/migrations/0039_remove_fmv2_precision.go
  core/testdata/testspecs/v2_specs.go
  core/testdata/tomlspecs/flux-monitor-spec.toml
  core/web/jobs_controller_test.go
  core/web/migrate_controller.go
  core/web/presenters/job.go
  core/web/presenters/job_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Move new line to rendering
  core/cmd/vrf_keys_commands.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Move new line to rendering
  core/cmd/vrf_keys_commands.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Fix archived comment
  core/services/keystore/vrf.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Fix archived comment
  core/services/keystore/vrf.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

fix lint
  core/cmd/vrf_keys_commands.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

fix lint
  core/cmd/vrf_keys_commands.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Fix fmv2 migrator test
  core/web/migrate_controller_test.go
  core/web/presenters/job.go
  docs/CHANGELOG.md
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

fix another test
  core/web/presenters/job_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Update core/cmd/vrf_keys_commands.go
  core/cmd/vrf_keys_commands.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Update core/cmd/vrf_keys_commands.go
  core/cmd/vrf_keys_commands.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

fix lint
  core/cmd/vrf_keys_commands.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

fix lint
  core/cmd/vrf_keys_commands.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Fix FriendlyDeletedAt returning new line
  core/cmd/vrf_keys_commands.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Fix FriendlyDeletedAt returning new line
  core/cmd/vrf_keys_commands.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

WIP
  .rgignore
  README.md
Owners: none

Use require to avoid panic at :271 on fail
  core/cmd/remote_client_test.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Replace golint with revive
  .github/workflows/golangci-lint.yml
  .golangci.yml
  revive.toml
  tools/bin/lint
Owners: none

Replace golint with revive
  .github/workflows/golangci-lint.yml
  .golangci.yml
  revive.toml
  tools/bin/lint
Owners: none

Fix revive lints
  core/internal/cltest/mocks.go
  core/internal/cltest/simulated_backend.go
  core/internal/gethwrappers/doc.go
  core/logger/doc.go
  core/services/bulletprooftxmanager/eth_broadcaster.go
  core/services/chainlink/application.go
  core/services/job/models.go
  core/services/job/orm.go
  core/services/keystore/eth.go
  core/services/keystore/keys/vrfkey/doc.go
  core/services/keystore/vrf.go
  core/services/keystore/vrf_test.go
  core/services/log/orm.go
  core/services/offchainreporting/validate.go
  core/services/pipeline/runner.go
  core/services/pipeline/task.base.go
  core/services/signatures/cryptotest/cryptotest.go
  core/services/synchronization/stats_pusher.go
  core/services/vrf/delegate.go
  core/store/migrations/migrate.go
  core/store/models/eth.go
  core/store/orm/orm.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

Fix revive lints
  core/internal/cltest/mocks.go
  core/internal/cltest/simulated_backend.go
  core/internal/gethwrappers/doc.go
  core/logger/doc.go
  core/services/bulletprooftxmanager/eth_broadcaster.go
  core/services/chainlink/application.go
  core/services/job/models.go
  core/services/job/orm.go
  core/services/keystore/eth.go
  core/services/keystore/keys/vrfkey/doc.go
  core/services/keystore/vrf.go
  core/services/keystore/vrf_test.go
  core/services/log/orm.go
  core/services/offchainreporting/validate.go
  core/services/pipeline/runner.go
  core/services/pipeline/task.base.go
  core/services/signatures/cryptotest/cryptotest.go
  core/services/synchronization/stats_pusher.go
  core/services/vrf/delegate.go
  core/store/migrations/migrate.go
  core/store/models/eth.go
  core/store/orm/orm.go
Owners: @se3000, @RyanRHall, @spooktheducks, @samsondav, @j16r, @connorwstein, @PiotrTrzpil, @archseer

CODEOWNERS:

/core/ @se3000 @RyanRHall @spooktheducks @samsondav @j16r @connorwstein @PiotrTrzpil @archseer
/evm-contracts/ @alexroan @se3000
/contracts/ @alexroan @se3000
/operator-ui/ @DeividasK
